.textForTranslateWrapper {
    border: 1px dashed #ffd632;
    border-radius: 12px;
    background-color: #ffffff;
    color: #1f1f1f;
    font-family: Sohne;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.iconsForTranslated {
    display: flex;
    justify-content: space-between;
}

.translateIcon {
    width: 43px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 6px;
}

.textForTranslate {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.uploadArea {
    height: 44px;
    border-color: #8bcf15;
    position: relative;
}

.uploadIcons {
    position: absolute;
    right: 32px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.progress {
    height: 1px;
    border-bottom: 1px solid transparent;
    border-radius: 12px;
}

.progressBar {
    .progress;
    width: 100%;
    border-bottom-color: #e7f5d1;
}

.fileProgress {
    // .progress;
    // height: 1px;
    // border-bottom-color: #8bcf16;
}

.filesList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.file {
    display: flex;
    align-items: center;
    .setFontSohneBuch(16px);
    color: #365302;

    &:not(:last-child) {
        gap: 6px;
    }

    &:last-child {
        gap: 2px;
    }
}

.volumeIcon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 100%;
}

.translatedTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12px 20px;
    background-color: #f5f0ff;
    border-radius: 12px;
    font-family: Sohne;
    color: #1f1f1f;
}

.bottomText {
    color: #8243ff;
}

.starsIcon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(#1f1f1f, 0.05);
    background: linear-gradient(to bottom, #d7d7d7 0%, #fff 100%);
}

.magicMenu {
    position: relative;
}

.magicButton {
    background-color: none;
}

.menu {
    top: -130px;
    bottom: unset;
}
