.magicButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(#1f1f1f, 0.05);
    background: linear-gradient(to bottom, #d7d7d7 0%, #fff 100%);
    margin: 0 auto;
}
.textForTranslateWrapper {
    height: 100%;
    border: 1px dashed #ffd632;
    border-radius: 12px;
    background-color: #ffffff;
    color: #1f1f1f;
    font-family: Sohne;
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.translationBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.translateIconWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.translateIconRotatedWrapper {
    padding-top: 12px;
    position: relative;
}

.langPopup {
    position: absolute;
    top: 0px;
    left: 60px;
    z-index: 1;
}

.langPopupRotated {
    top: 162px;
}

.translateIcon {
    width: 43px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 6px;
}

.uploadArea {
    height: 44px;
    padding-top: 0;
    padding-bottom: 0;
    border-color: #8bcf15;
}

.noEvents {
    pointer-events: none;
}

.dragWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &._over {
        .panel_drag_text,
        .panel_drag_btn {
            opacity: 0.1;
        }
        .panel_drag::after,
        .panel_drag::before {
            opacity: 1;
        }
    }
    position: relative;
}

.panel_drag {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    max-width: 500px;
    background: linear-gradient(to bottom, #fff, #fff), rgba(#f3ffdf, 0.3);
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::after,
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #b7ff3c;
        height: 20px;
        filter: blur(16px);
        opacity: 0;
        transition: opacity 400ms ease;
    }

    &::before {
        width: 102px;
    }

    &::after {
        width: 270px;
    }
}

.panel_drag_text {
    .setFontSohneBuch(16px, 1.1, normal);
    color: #355302;
    transition: opacity 300ms ease;
}

.hidden {
    visibility: hidden;
}

.fileLoadingProgress {
    width: 100%;
    padding-right: 4px;
}
