.cp-footer {
    background
Shorthand property for setting most background properties at the same place in the style sheet.
Learn more
Don't show
: var(--var-17);
    border: solid 1px var(--var-74);
    border-radius: 8px;
    display: flex
;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: calc(100% - 10px);
}


