.history-playground-menu-container {
    position: absolute;
    right: 20px;
    top: 0;
    width: 110px;
    height: 92px;
    padding: 6px;
    border-radius: 12px;
    background: var(--bg-general);
    border: 1px solid var(--border-var-10);
    z-index: 2000;
}
.history-playground-menu-button {
    width: 98px;
    height: 40px;
    padding-left: 6px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-var-13);
    svg {
        fill: var(--icon-var-1);
    }
}
.history-playground-menu-button:hover {
    background: var(--bg-var-2);
    border: 1px solid var(--border-var-21);
    color: var(--text-var-4);
    svg {
        fill: var(--icon-var-14);
    }
}
.pen-icon {
    width: 12px;
    height: 12px;
    top: 1.5px;
    left: 1.5px;
}
