.chatLayout {
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 76px 76px 0 76px;
    background-color: #ffffff;
    z-index: 1;
}

.layout {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: width 1s ease;
    padding-left: 76px;
    padding-top: 65px;
}
.layout_playground {
    height: 100vh;
    width: 100%;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;

    padding: 22px;
    padding-left: 76px;
    padding-top: 75px;
}
.layout_playground_fullscreen {
    height: 330px;
    width: 442px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;

    padding: 5px;
    border-radius: 10px;
}

.layout_sidebar_playground {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 76px;
    height: 100%;
    padding: 75px 18px 42px;
    background-color: #ffffff;
}
.layout_sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 76px;
    height: 100%;
    z-index: 2;
}

.layout_open_sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 280px;
  height: 100%;
  z-index: 2;
}

.layout_chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 0;
    transition: padding-left 0.3s ease-in-out;
    background-color: #f8f8f8;
    border-radius: 16px;
    //transition: width 1s ease;
}

.playground {
    transition:
        width 1s ease,
        opacity 1s ease;
}

.sidebar_open_layout_chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 200px;
  transition: padding-left 0.3s ease-in-out;
}

.limitScreen {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.welcomeScreen {
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

