.layout {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 65px 16px 24px 76px;
    background-color: #ffffff;
}

.layoutWithPlayground {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.layout_sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 76px;
    height: 100%;
}

.layout_chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f8f8f8;
    border-radius: 16px;
}
