.layout {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    padding-left: 76px;
    padding-top: 65px;
}
.layout_playground {
    height: 100vh;
    width: 100%;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;

    padding: 22px;
    padding-left: 76px;
    padding-top: 75px;
}
.layout_playground_fullscreen {
    height: 330px;
    width: 442px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;

    padding: 5px;
    border-radius: 10px;
}

.layout_sidebar_playground {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 76px;
    height: 100%;
    padding: 75px 18px 42px;
    background-color: #ffffff;
}
.layout_sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 76px;
    height: 100%;
}

.layout_chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}