.iframeModal {
    width: 85vw;
    max-width: 1208px;
    height: 80vh;
    max-height: 762px;
    border: none;
}

.pdfViewerWithPagination {
    position: relative;
}

.title {
    width: max-content;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 8px;
    z-index: 1;
}

.pagination {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    z-index: 1;
}

.zoom {
    position: fixed;
    right: 50px;
    bottom: 30px;
    z-index: 1;
}

.preWrapper {
    background-color: #fff;
}

.txtPreview pre {
    display: block;
    white-space: pre-wrap;
    margin: 0;
}

.docxDocument {
    width: 100%;
    max-width: 465px;
    height: 67vh;
    max-height: 635px;
    //width: 513px;
    //max-width: 513px;
    //height: 683px;
    //max-height: 100%;
    overflow-x: scroll;
}

.docxPreview {
    // display: contents;
    position: relative;
    border-radius: 8px;
    width: 100%;
    max-width: 465px;
    max-height: calc(67vh - 48px);
    overflow: auto;
    padding-right: 8px;
    box-sizing: border-box;
}

.docxTitle {
    .title;
    top: 8px;
}

.txtPreview {
    border-radius: 8px;
    width: 100%;
    max-width: 465px;
    max-height: calc(67vh - 48px);
    overflow: auto;
    padding-right: 8px;
    box-sizing: border-box;
}
