.rotateButton {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 0 3px 12px rgba(#1f1f1f, 0.05);
    background-color: var(--var-11);
    svg path {
        fill: var(--var-94);
    }
}

.rotated {
    transform: rotate(90deg);
}
