build
.cache
.idea
dev-dist
vite.config.d.ts
vite.config.js
/public/uploads/**
/public/sitemap/**
!/public/sitemap/.gitkeep
!/public/uploads/.gitkeep

node_modules
.env.*
!.env.example
package-lock.json


.DS_Store
settings.json
.vercel
dist