.topPart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--var-9);
}

.shareButton {
    display: flex;
    .setFontSohneKraftig(14px);
    padding: 12px 8px;
    border: 1px solid var(--var-132);
    border-radius: 8px;
    color: var(--var-7);
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.bottomPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.description {
    .setFontSohneBuch(14px);
    color: rgb(143, 143, 143);
    width: 390px;
}

.linkWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px;
    border: 1px solid var(--var-134);
    border-radius: 13px;
    svg path:first-child {
        fill: var(--var-135);
    }
    &:hover {
        path:first-child {
            fill: var(--var-136);
        }
    }
}

.link {
    .setFontSohneKraftig();
    color: var(--var-137);
}

.seeAllButton {
    .setFontSohneBuch(14px);
    padding: 7px;
    border: 1px solid var(--var-84);
    border-radius: 8px;
    margin-left: 0;
    margin-right: auto;
    color: var(--var-7);
    transition: 0.5s ease;

    &:hover {
        background-color: var(--var-125);
        color: var(--var-17);
        border-color: var(--var-50);
    }
}
