.input {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 8px;
}

.input_editBtn{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #F1E7FF;
    border: 1px solid #9747FF;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 125ms ease;

    svg {
        width: 12px;
        height: 12px;
        fill: #9747FF;
    }

    &:hover {
        background: darken(#F1E7FF, 3%);
    }
}
.input_message {
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px dashed #B5B5B5;

    .setFontSohneBuch(16px, 1.4, normal);
    color: #1f1f1f;
}

// Edit
.edit {
    border-radius: 16px;
    border: 1px solid #DDDDDD;
    background: #FBFBFB;
    padding: 20px;
}
.edit_editor_editor {
    padding-right: 10px;
    .setFontSohneBuch(16px, 1.2, normal);
    color: #1F1F1F;

    max-height: 160px;
    overflow-y: auto;
}
.edit_controls {
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}
.edit_controls_cancelBtn,
.edit_controls_saveBtn {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(#000, 0.05);

    position: relative;

    svg {
        width: 12px;
        height: 12px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.edit_controls_cancelBtn {
    border: 1px solid #DDDDDD;
    svg {
        fill: #5B5B5B;
        width: 10px;
        height: 10px;
    }
}
.edit_controls_saveBtn {
    background: #1F1F1F;
    svg {
        fill: #FFFFFF;
    }
}

.user {
      justify-content: flex-end;
    }
  
    .chat_message {
      display: flex;
      margin: 8px 0;
      padding: 10px;
      word-wrap: break-word;
      word-break: break-word;
      overflow-wrap: break-word;
    }
  
    .user_message {
      align-self: flex-end;
      justify-content: flex-end;
      background-color: #EFEFEF;
      border-radius: 16px;
    }
  
    .bot_message {
      align-self: flex-start;
      justify-content: flex-start;
      border-top-left-radius: 0;
    }
  
    .message_content {
      display: flex;
      flex-direction: column;
      white-space: pre-wrap;
    }
  
    .edit_button {
      cursor: pointer;
      box-shadow: none;
      background: none;
      border: none;
      height: fit-content;
      margin: auto 10px 10px 0;
      padding: 4px;
      cursor: pointer;
    }
  
    .bot_logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      min-width: 40px;
      height: 40px;
      min-height: 40px;
      margin-right: 8px;
      background-color: #fff;
      border: 1px solid #EFEFEF;
      border-radius: 8px;
  
      svg {
        width: 20px;
        height: 20px;
      }
    }
  
    .code_without_output {
      code {
        border-radius: 10px;
      }
    }
  
  
  
    .code_with_output {
      display: flex;
      flex-direction: column;
  
      pre {
        margin-bottom: 0;
  
        code {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
  
      .output {
        padding: 1em;
        color: white;
        background-color: #8D8D8D;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  
  
    .typewriter_cursor {
      display: none;
    }
  
  
  
  