.input {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 8px;
}

.input_editBtn{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #F1E7FF;
    border: 1px solid #9747FF;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 125ms ease;

    svg {
        width: 12px;
        height: 12px;
        fill: #9747FF;
    }

    &:hover {
        background: darken(#F1E7FF, 3%);
    }
}
.input_message {
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px dashed #B5B5B5;

    .setFontSohneBuch(16px, 1.4, normal);
    color: #1f1f1f;
}

// Edit
.edit {
    border-radius: 16px;
    border: 1px solid #DDDDDD;
    background: #FBFBFB;
    padding: 20px;
}
.edit_editor_editor {
    padding-right: 10px;
    .setFontSohneBuch(16px, 1.2, normal);
    color: #1F1F1F;

    max-height: 160px;
    overflow-y: auto;
}
.edit_controls {
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}
.edit_controls_cancelBtn,
.edit_controls_saveBtn {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(#000, 0.05);

    position: relative;

    svg {
        width: 12px;
        height: 12px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.edit_controls_cancelBtn {
    border: 1px solid #DDDDDD;
    svg {
        fill: #5B5B5B;
        width: 10px;
        height: 10px;
    }
}
.edit_controls_saveBtn {
    background: #1F1F1F;
    svg {
        fill: #FFFFFF;
    }
}

.user {
      justify-content: flex-end;
    }
  
    .chat_message {
      display: flex;
      margin: 8px 0;
      padding: 10px;
      word-wrap: break-word;
      word-break: break-word;
      overflow-wrap: break-word;
    }
  
    .user_message {
      align-self: flex-end;
      justify-content: flex-end;
      background-color: #EFEFEF;
      border-radius: 16px;
    }
  
    .bot_message {
      align-self: flex-start;
      justify-content: flex-start;
    }
  
    .message_content {
      display: flex;
      flex-direction: column;
      white-space: pre-wrap;
      background-color: #fff;
      border-radius: 16px;
      padding: 20px;
    }
  
    .edit_button {
      cursor: pointer;
      box-shadow: none;
      background: none;
      border: none;
      height: fit-content;
      margin: auto 10px 10px 0;
      padding: 4px;
      cursor: pointer;
    }
  
    .bot_logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 46px;
      min-width: 46px;
      height: 46px;
      min-height: 46px;
      margin-right: 8px;
      background-color: #fff;
      border-radius: 8px;
      margin:auto;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    //for gradient borders
    .bot_logo_background {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      min-width: 48px;
      height: 48px;
      min-height: 48px;
      margin-right: 8px;
      background-image: linear-gradient(to right bottom, 
      rgba(141, 141, 141, 0.46), 
      rgba(255, 255, 255, 1)
      );
      border-radius: 8px;
    }
    .button_steps{
      border-radius: 1000px;
      padding: 8px 14px;
      box-shadow: 0px 2px 15px 0px #0000000D;
    }
    .button_steps_label {
      background: linear-gradient(90.09deg, #9747FF -24.88%, #1F1F1F 72.4%);
      background-clip: text;
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: transparent;
      font-size: 16px;
      font-weight: 400;
  }
  
    :global(.code-without-output) {
      display: flex;
      flex-direction: column;
    
      :global(code) {
        border-radius: 10px;
      }
    
      :global(pre) {
        margin-bottom: 0;
    
        :global(code) {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    
      :global(.output) {
        padding: 1em;
        color: white;
        background-color: #8D8D8D;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
    :global(.code-with-output) {
      display: flex;
      flex-direction: column;
      
      :global(pre) {
        margin-bottom: 0;
  
        :global(code) {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
  
      :global(.output) {
        padding: 1em;
        color: white;
        background-color: #8D8D8D;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }

    .typewriter_cursor {
      display: none;
    }
  
  
  
  