.navigation_prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    padding-bottom: 42px;
    animation: fade-in 1s ease forwards;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    max-height: 150px;
}

.fading {
    animation: fade-out 0.5s ease forwards;
}

.navigation_text {
    .setFontSohneBuch(16px);
    font-weight: 400;

    b {
        font-weight: 600;
    }
}

.navigation_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.navigation_buttons > div {
    width: 43px;
    height: 43px;
    border-radius: 12px;
    border: 1px solid rgba(31, 31, 31, 1);
    padding: 13px;

    svg {
        stroke: rgba(31, 31, 31, 1);
    }
}

.navigation_prev {
    rotate: -90deg;
}

.navigation_next {
    rotate: 90deg;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
