.knowledge {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__header {
        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--var-149);
            padding: 14px 18px 11px;
        }
        &__title {
            color: var(--var-7);
            font-family: "Sohne";
            font-size: 16px;
            font-weight: 600;
            line-height: 21px;
        }
    }
    &__content__container {
        display: flex;
        flex-direction: column;
        padding: 12px 18px;
        flex: 1;
        overflow-y: auto;
        gap: 12px;
    }
    &__section {
        &__folders:hover div > button:last-child {
            opacity: 1;
        }
        &__title {
            color: var(--var-97);
            font-family: "Sohne", sans-serif;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 1.19rem;
            margin-bottom: 8px;
        }
    }

    &__folder__section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }
    &__files__section {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
        overflow-x: hidden;
    }
}
