.text-format-container {
    width: 100%;
    max-width: fit-content;
    display: flex;
    gap: 5px;
    flex-direction: row;
    border: 1px solid var(--var-1);
    background: var(--bg-general);
    box-shadow: 0px 0px 12px 0px #0000000d;
    border-radius: 5px;
    position: fixed;
}
.button-paint {
    box-sizing: border-box;
    width: 100%;
    max-width: fit-content;
    min-width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    color: rgba(91, 91, 91, 1);
}

.button {
    box-sizing: border-box;
    width: 100%;
    max-width: fit-content;
    min-width: 30px;
    height: 100%;
    max-height: fit-content;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
}
.button-active {
    border: 1px solid rgba(181, 181, 181, 1);
    background: rgba(248, 248, 248, 1);
    padding: 0;
    min-width: 30px;
    height: 100%;
    max-height: fit-content;
    min-height: 30px;
}
.editable-text {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 40px;
    margin-top: 10px;
    outline: none;
}

.editable-text:focus {
    border-color: #007bff;
    
    box-shadow: 0 0 3px #007bff;
}

.highlighted-1 {
    background-color: #fff6b0;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-typing-1 {
    background-color: #ffff00;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-2 {
    background-color: #ccf6c8;
   
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-typing-2 {
    background-color: #5eff5e;
    opacity: 0.95;
    border-radius: 4px;
   
    padding: 0 2px;
}

.highlighted-3 {
    background-color: #d6f0ff;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-typing-3 {
    background-color: #66c7ff;
    opacity: 0.95;
    border-radius: 4px;
   
    padding: 0 2px;
}

.highlighted-4 {
   
    background-color: #ffe2f0;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-typing-4 {
    background-color: #ff66c7;
    opacity: 0.95;
   
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-5 {
    background-color: #ffeacc;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;

}

.highlighted-typing-5 {
    background-color: #ffb84d;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}


.highlighted-6 {
    background-color: #e5d6ff;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-typing-6 {
    background-color: #a566ff;

    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-7 {
    background-color: #e0f7fa;
    opacity: 0.95;
    border-radius: 4px;

    padding: 0 2px;
}

.highlighted-typing-7 {
    background-color: #00e5ff;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-8 {
    background-color: #f3e5f5;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-typing-8 {
    background-color: #ce93d8;

    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-9 {
    background-color: #fbe9e7;
    opacity: 0.95;
    border-radius: 4px;

    padding: 0 2px;
}

.highlighted-typing-9 {
    background-color: #ff7043;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-10 {
    background-color: #f0f4c3;
    opacity: 0.95;
    border-radius: 4px;

    padding: 0 2px;
}

.highlighted-typing-10 {

    background-color: #dce775;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;

}

.highlighted-11 {
    background-color: #ede7f6;

    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-typing-11 {
    background-color: #9575cd;
    opacity: 0.95;
    border-radius: 4px;

    padding: 0 2px;
}

.highlighted-12 {
    background-color: #e0f2f1;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}

.highlighted-typing-12 {
    background-color: #4db6ac;
    opacity: 0.95;
    border-radius: 4px;
    padding: 0 2px;
}





.unselectable-text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.clickable-text{
    cursor: pointer;
   
    
}