.contentHeader {
    &__container {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--var-149);
        padding: 16px 18px 13.5px;
    }
    &__title {
        color: var(--var-7);
        font-family: "Sohne";
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
    }
}
