.contentHeader {
    &__container {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(181, 181, 181, 0.2);
        padding: 16px 18px 13.5px;
    }
    &__title {
        color: rgb(31, 31, 31);
        font-family: "Sohne";
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
    }
}
