.sourceSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    //padding: 24px;
    //box-shadow: 0 3px 20px rgba(#000, 0.04);
    background-image: url("../assets/steps.png");
    width: 100%;
    height: 100%;
}

.sourcePlayground {
    display: grid;
    grid-template-rows: repeat(2, calc((100vh - 65px - 24px - 10px) / 2));
    gap: 10px;
    height: calc((100vh - 65px));
    background-color: #fff;
    transition: transform 0.3 ease, opacity 0.3 ease;
    position: relative;
    width: 100%;
    box-sizing: border-box;;
    flex-direction: column;
    overflow: auto;
}

.enter {
    transform: translateX(100%);
    opacity: 0;
}

.enterActive {
    transform: translateX(0);
    opacity: 1;
}

.exit {
    transform: translateX(0);
    opacity: 1;
}

.exitActive {
    transform: translateX(100%);
    opacity: 0;
}

.generalSection {
    .sourceSection;
    justify-content: space-between;
    position: relative;
}

.infoCardNodes {
    display: flex;
    flex-direction: row;
    gap: 48px;
    position: relative;
}

.glowIcon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    z-index: 1;
}

.styledLineIcon {
    margin: -25px 0 -32px 0;
}

.sourceNodes {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 28%;
}

.nodes {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.popoverweb {
    position: absolute;
    top: 0;
    left: -100px;
}

.popoverdocs {
    position: absolute;
    top: -50px;
    right: -100px;
}

.popoverapps {
    position: absolute;
    top: 100px;
    right: -100px;
}

.detailsSection {
    .sourceSection;
    justify-content: center;
    padding: 12px;
    overflow: hidden;
    height: 93%;
}

.detailsSectionWithData {
    justify-content: flex-start;
}

.defaultText {
    font-size: 14px;
    color: #b5b5b5;
    padding-top: 12px;
}

.lineIcon {
    width: 171px;
    height: 347px;
}

.popoverContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    width: max-content;
    height: 80px;
    //width: 156px;
    //height: 105px;
}

.title {
    .setFontSohneBuch(12px);
    color: #cfcfcf;
}

.list {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.itemText {
    .setFontSohneBuch(14px);
    color: #5b5b5b;
}

.link {
    .setFontSohneBuch(14px);
    color: #5b5b5b;

    &:hover {
        color: #4285f4;
    }
}

.bold {
    .setFontSohneKraftig(14px);
}
