.download-csv-button {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    background-color: var(--var-36);
    border: 2px solid transparent;

    svg path {
        fill: var(--var-99);
    }
}
.download-csv-button:hover {
    border-color: var(--var-67);
    background-color: var(--var-2) !important;
    svg path {
        stroke: var(--var-86);
    }
}
