.download-csv-button {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    background-color: var(--bg-var-39);
    border: 2px solid transparent;

    svg path {
        fill: var(--icon-var-19);
    }
}
.download-csv-button:hover {
    border-color: var(--border-var-7);
    background-color: var(--bg-var-2) !important;
    svg path {
        stroke: var(--icon-var-2);
    }
}
