.setFontSohneBuch(
  @fontSize: 16px,
  @leading: 1.25,
  @letterSpacing: normal
) {
    font: 500 @fontSize / @leading var(--font-sohne);
    letter-spacing: @letterSpacing;
}
.panel {
    width: 100%;
    padding: 30px 0;
    padding-left: 10px;
    padding-right: 86px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .setFontSohneBuch(16px, 1.4, normal);
}
.panel_playground {
    padding: 30px 0;
    padding-left: 74px;
    padding-right: 86px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.panel_playground_fullscreen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.panel_wrapper {
    max-width: 892px;
    width: 100%;
    position: relative;

    &._over {
        .panel_drag_text,
        .panel_drag_btn {
            opacity: 0.1;
        }
        .panel_drag::after,
        .panel_drag::before,
        .panel_drag_upload_files_wrapper,
        .panel_drag_background {
            opacity: 1;
        }
    }
}

.panel_prompt {
    padding: 8px;
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateY(-4px);
    width: 100%;
    border-radius: 12px;
    background: var(--var-6);
    backdrop-filter: blur(80px);
    display: flex;
    align-items: center;
    gap: 14px;
    border: 1px solid var(--var-2);
    box-shadow: 2px 8px 16px rgba(#000, 5%);
    z-index: 10;

    .setFontSohneBuch(14px, 1, normal);
    font-weight: 400;
    color: var(--var-7);
}

.reference_panel {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    gap: 14px;
    width: 100%;
    font-size: 14px;
}
.reference_panel_close_btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--var-1);
    border: 1px solid var(--var-68);
    svg {
        fill: var(--var-91);
    }
}

.table_prompt_panel {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    gap: 14px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: #8bcf16;
}

.panel_send_table_data_btn {
    height: 36px;
    min-width: 36px;
    border-radius: 50%;
    border: 1px solid var(--var-61);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: var(--var-86);
    transition:
        color 300ms ease,
        background-color 300ms ease;

    &:hover {
        background-color: #5b5b5b;
        color: #8bcf16;
    }
}

.panel_files {
    left: 0;
    bottom: 100%;
    width: 100%;
    padding-bottom: 5px;
    z-index: 5;
}

.panel_files_mask {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    z-index: 5;
}

// Drag
.panel_drag {
    overflow: hidden;
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 0 8px;
    max-height: 56px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    &::before {
        content: "";
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        background: rgb(139, 207, 22);
        height: 17px;
        filter: blur(5px);
        transition: opacity 300ms ease;
        z-index: 1;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        border: 1px solid transparent;
        border-radius: 18px;

        border-top-color: #8bcf16;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;

        animation: snake 4s linear infinite;
    }

    &::after {
        content: "";
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background: var(--var-29);
        z-index: 12;
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: 16px;
    }
}

@keyframes snake {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.panel_drag_text {
    .setFontSohneBuch(16px, 1.1, normal);
    opacity: 1;
    transition: opacity 300ms ease;
    position: relative;
    color: var(--var-120);
    z-index: 20;
    padding-left: 10px;
}
.panel_drag_background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    opacity: 0;
    transition: opacity 300ms ease;
    z-index: 14;

    //green background for drag and drop
    &::after {
        content: "";
        width: 30%;
        height: 30%;
        background: var(--color-green-300);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 16px;
        transform: translate(115%, 100%);
        margin: auto;
        align-self: center;
        filter: blur(16px);
        opacity: 1;
        transition: opacity 300ms ease;
        z-index: 16;
    }

    //dots on green background
    &::before {
        content: "";
        width: 30%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 300ms ease;
        z-index: 14;
        transform: translate(100%, 0);
        background-image: radial-gradient(circle, rgb(205, 243, 141) 1px, transparent 1px);
        mask-image: radial-gradient(black, transparent 70%);
        background-size: 10px 10px;
        background-position: 0 0;
        background-repeat: repeat;
    }
}
.panel_drag_btn {
    width: 36px;
    height: 36px;
    border-radius: 12px;
    flex-shrink: 0;
    background: var(--var-30);
    border: 1px solid var(--color-green-400);
    position: relative;
    transition: opacity 300ms ease;
    z-index: 15;

    svg {
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        fill: var(--color-green-400);

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

// Prompt
.panel_prompt_icon {
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 8px;
    flex-shrink: 0;
    background: var(--var-15);

    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--var-90);
}

.panel_prompt_input {
    min-width: 62px;
    padding: 7px;
    border-radius: 8px;
    border: 1px dashed #5cb9ff;
    background: rgba(#5cb9ff, 0.1);

    .setFontSohneBuch(13px, 1.2, normal);
    color: #5cb9ff;

    &::placeholder {
        color: #5cb9ff;
    }
}

.panel_main {
    position: relative;
    width: 100%;
    //height: 56px;

    background: var(--var-1);
    border: 1px solid var(--var-68);
    border-radius: 16px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 7px;

    display: flex;
    align-items: flex-end;
    gap: 8px;
}
.panel_branchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b5b5b5;
    width: fit-content;
    margin-left: -6px;
    height: 36px;
    box-sizing: border-box;
}
.panel_editor {
    // flex-grow: 1;
    flex-grow: 0;
}

.panel_editor_editor {
    padding: 8px 0;
    padding-right: 8px;
    max-height: 160px;
    overflow-y: auto;
}

.panel_button {
    width: 36px;
    height: 36px;
    border: 1px solid var(--var-61);
    border-radius: 50%;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 120ms ease;

    svg {
        flex-shrink: 0;
        width: 17px;
        height: 17px;
        fill: var(--var-86);
    }
    &:hover {
        background-color: var(--var-8);
        border-color: var(--var-67);
    }
    &:disabled {
        cursor: default;
        background: var(--var-9);
        border: none;
    }
}

.panel_submitBtn {
    height: 36px;
    padding: 10px 22px;
    border-radius: 12px;
    border: 1px solid var(--var-66);
    background: var(--var-7);
    display: flex;
    align-items: center;
    gap: 2px;

    .setFontSohneBuch(14px);

    color: var(--var-17);

    svg {
        width: 13px;
        height: 13px;
        stroke: var(--var-17);
    }
}

.panel_callBtn {
    transition: all 120ms ease;

    svg {
        width: 17px;
        height: 17px;
    }

    &:hover {
        svg {
            fill: #5cb9ff;
        }
    }
}

.panel_hammerBtn {
    min-width: 36px;
    min-height: 36px;
    border-radius: 50%;

    border: 1px solid var(--var-61);

    transition: background 120ms ease;

    svg {
        fill: var(--var-86);
    }

    &:hover {
        background: rgba(91, 91, 91, 1);

        svg {
            fill: #ffd600;
        }
    }
}

.panel_loadingBtn {
    height: 32px;
    width: 32px;
    min-width: 32px;
    min-height: 32px;
}

.chat_response_stop_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    border: 1px solid var(--var-61);
    height: 32px;
    width: 32px;
    min-width: 32px;
    min-height: 32px;
    color: var(--var-86);
    transition:
        background 0.3s ease,
        color 0.3s ease,
        border 0.3s ease;

    &:hover {
        color: #ffffff;
        background-color: var(--var-8);
        border: none;
    }
}

.fadeEnter {
    opacity: 0;
}
.fadeEnterActive {
    opacity: 1;
    transition: opacity 0.2s linear;
}
.fadeExit {
    opacity: 1;
}
.fadeExitActive {
    opacity: 0;
    transition: opacity 0.2s linear;
}

.panel_drag_hand_cursor_img {
    position: absolute;
    right: -9px;
    top: 31%;
    z-index: 20;
    svg {
        stroke: var(--var-95);
    }
}

.panel_drag_upload_files_wrapper {
    position: relative;
    width: 36px;
    height: 36px;
    min-height: 36px;
    min-width: 36px;
    border-radius: 35%;
    background: white;
    left: 50%;
    top: 50%;
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 300ms ease;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.panel_uploading_files {
    overflow: hidden;
    position: absolute;

  width: 100%;
  height: 100%;
  max-height: 56px;
  border-radius: 16px;
  padding: 0 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    background-color: var(--var-29);
    z-index: 100;
    border: 1px dashed var(--color-green-400);
    .setFontSohneBuch(16px, 1.1, normal);
    color: var(--var-120);
}

.panel_uploading_files_icon {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  box-shadow: 0 3px 12px 0 #1f1f1f0d;
  border-radius: 15px;
  min-height: 36px;
  min-width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.progressBar {
  width: 100%;
  height: 4px;
  background-color: rgba(139, 207, 22, 0.34);
  border-radius: 2px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background-color: var(--color-green-400);
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
}

@keyframes fillBar {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.uploading_file {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.panel_uploading_files_name_and_progressbar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
}

.panel_uploading_files_name_and_progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 14px;
}

.uploaded_file_name {
    font-size: 12px;
    position: absolute;
    left: 80%;
}

.hyperlink_form {
    padding: 10px;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: var(--var-209);
    border: .5px solid var(--var-206);
    z-index: 1000;
    border-radius: 12px;
    color: #127fff;
    font-size: 16px;
    font-weight: 1000;
    caret-color: var(--var-207);
}
.hyperlink_selected_text{
    &_disabled{
        background: none !important;
    }
}
.linkEnter {
    opacity: 0;
}
.linkEnterActive {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.linkExit {
    opacity: 1;
}
.linkExitActive {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.hintsWrapper {
    height: 150px;
}

.hints {
    padding-top: 16px;
    margin: 0 auto;
    max-width: 750px;
}

.typingHints {
    padding-top: 8px;
}

.screenShareWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 0 4px;
    width: 165px;
    height: 44px;
    margin-top: -4px;
    margin-bottom: -4px;
    padding-right: 40px;
    border: 1px solid var(--var-2);
    border-radius: 1000px;
    background-color: var(--var-46);
    box-sizing: border-box;
    position: absolute;
    right: 150px;
    z-index: 1;
    opacity: 0;
    transition: 0.5s opacity ease;
}

.screenShareWrapperExpanded {
    opacity: 1;
}

.expandedIcon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid transparent;

    transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        fill 0.3s ease;

    path {
        fill: #b5b5b5;
    }

    &:hover {
        background-color: rgba(#ff8b12, 0.2);
        border-color: #ff8b12;

        path {
            fill: #ff8b12;
        }
    }
}

.activeShareType {
    background-color: rgba(#ff8b12, 0.2);

    path {
        fill: #ff8b12;
    }
}

.bluetoothIcon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid transparent;

    transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        stroke 0.3s ease;

    path {
        stroke: #b5b5b5;
    }

    &:hover {
        background-color: rgba(#ff8b12, 0.2);
        border-color: #ff8b12;

        path {
            stroke: #ff8b12;
        }
    }
}
.activeBluetoothButton {
    background-color: rgba(#ff8b12, 0.2);

    path {
        stroke: #ff8b12;
    }
}

.screenShareButton {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: rgba(#b5b5b5, 0.2);
    border-radius: 50%;
    z-index: 2;
    position: relative;

    path {
        fill: #b5b5b5;
    }
}

.screenShareButtonExpanded {
    background-color: rgba(#ff8b12, 0.1);

    path {
        fill: #ff8b12;
    }
}

.shareScreen {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 72px;
}

.screenShareIcon path {
    fill: #ff8b12;
}

.screenShareBluetoothIcon path {
    stroke: #ff8b12;
}
