.scroll_down_btn {
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 20%;
  width: 44px;
  height: 44px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 5;
}