.content_top_actions_container{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
  left: 96px;
}

.content_chat {
  margin: 0 auto;
  max-width: 892px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}