.column-message-chart {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  padding: 40px 40px;
  background: #F8F8F8;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 20px;

  .column-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFFB2;
    border-radius: 12px;
    width: 100%;
    border: 2px solid #FFFFFF;
  }

  .selected-data {
    font-size: 14px;
    font-weight: 600;
    color: #CFCFCF;
  }

  .selected-data-item {
    font-size: 16px;
    font-weight: 600;
    color: #1F1F1F;
  }

  .info-container {
    width: 150px;
    height: 410px;
    min-height: 100%;
    padding: 35px 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    border: 2px solid #FFFFFF;

    .info-container-selected-data {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 15px;

    }
  }

  .value-percentile-container {
    padding: 15px 12px;
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 30px;
    background: #FAFAFA;
    border-radius: 12px;
    color: #5B5B5B;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;

    .copy-button {
      height: 20px;
      background: transparent;
      display: flex;
      flex-direction: row;
      gap: 5px;
      font-size: 14px;
      color: #B5B5B5;
      font-weight: 1000;

      svg {
        fill: #B5B5B5;
        height: 15px;
        width: 18px;


      }
    }
  }
}

.details {
  margin-top: 10px;
  p {
    font-size: 14px;
    margin: 4px 0;
  }
}

.chart-bar {
  border-radius: 1000px;
  box-shadow: 0 4px 20px 0 #FFFFFFB2 inset;
  backdrop-filter: blur(20px);
}

.column-message-chart-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}

.label-square-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
}


.column-chart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 12px;
  min-width: 80%;
  max-width: 100%;
  gap: 10px;
}

.line {
  display: inline-block;
  width: 110px;
  border-bottom: 1px dashed #CFCFCF;
}
