.column-message-chart {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    padding: 40px 40px;
    background: var(--bg-var-61);

    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    .yAxis text {
        fill: var(--text-var-9);
    }
    .xAxis text {
        fill: var(--text-var-4);
    }
    .column-chart {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        background: var(--bg-var-62);
        border: 2px solid var(--border-var-17);
        width: 100%;
    }

    .selected-data {
        font-weight: 500;
        font-size: 18px;
        color: var(--text-var-12);
    }

    .selected-data-item {
        font-size: 16px;
        font-weight: 600;
        color: var(--text-var-4);
    }

    .info-container {
        width: 160px;
        max-width: 160px;
        height: 410px;
        min-height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 12px;
        background: var(--bg-var-62);
        border: 2px solid var(--border-var-17);
        overflow: hidden;
        transition:
            opacity 0.3s ease,
            transform 0.3s ease,
            max-width 0.3s ease,
            padding 0.3s ease,
            margin 0.3s ease;

        &.visible {
            opacity: 1;
            transform: translateX(0);
            max-width: 160px;
            padding: 20px;
        }

        &.hidden {
            opacity: 0;
            transform: translateX(20px);
            max-width: 0;
            padding: 0;
            margin: 0;
        }

        .info-container-selected-data {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 15px;
        }
    }

    .value-percentile-container {
        padding: 15px 12px;
        display: flex;
        align-content: center;
        flex-direction: column;
        gap: 30px;
        background: var(--bg-var-1);
        border-radius: 12px;
        color: var(--text-var-21);
        font-size: 15px;
        font-weight: bold;
        margin-top: 5px;

        .copy-button {
            height: 20px;
            background: transparent;
            display: flex;
            flex-direction: row;
            gap: 5px;
            font-size: 14px;
            color: var(--text-var-18);
            font-weight: 1000;

            svg {
                fill: var(--icon-var-1);
                height: 15px;
                width: 18px;
            }
        }
    }
}

.chart-bar {
    border-radius: 1000px;
    box-shadow: 0 4px 20px 0 #ffffffb2 inset;
    backdrop-filter: blur(20px);
}

.column-message-chart-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

.label-square-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.column-chart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    min-width: 80%;
    max-width: 100%;
    gap: 10px;
}

.line {
    display: inline-block;
    width: 110px;
    border-bottom: 1px dashed var(--border-var-8);
}
