.limitScreen {
    font-family: Sohne;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 442px;
    height: 280px;
    padding: 30px 40px 40px;
    border: 1px solid var(--var-68);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(#000, 0.06);
    background: url("./assets/dots.svg"), var(--bg-gradient-var-10);
    background-repeat: no-repeat;

    &::after {
        position: absolute;
        top: -31px;
        content: "";
        width: 180px;
        height: 30px;
        background: radial-gradient(circle, rgba(#f7ecdf, 0.5) 10%, transparent 80%);
    }
}

.iconContainer {
    position: relative;
}

.icon {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-gradient-var-11);
    backdrop-filter: blur(20px);
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 1px;
        border-radius: inherit;
        background: linear-gradient(
            to right bottom,
            rgba(240, 125, 3, 0.4) 0%,
            rgba(255, 255, 255, 0.05) 100%;
        );
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
        pointer-events: none;
    }
}
.redGlow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px 18px var(--var-190);
}
.backgroundPattern {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 0;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 0 15px 20px var(--var-189);
    backdrop-filter: blur(40px);
    pointer-events: none;
    z-index: 0;
}

.bold {
    font-weight: bold;
}

.title {
    font-weight: bold;
    color: var(--var-7);
    padding: 20px 0;
    white-space: nowrap;
}

.description {
    color: var(--var-108);
}

.invitation {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-top: 24px;
    padding: 3px 3px 3px 13px;
    border-radius: 8px;
    border: 1px solid var(--var-68);
}

.invitationLink {
    font-size: 14px;
    color: var(--var-108);
    letter-spacing: 0;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    color: var(--var-95);
    border-radius: 8px;
    border: 1px solid var(--var-68);
    background-color: var(--var-75);

    path {
        fill: var(--var-86);
    }
}
