* {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    list-style: none;
    margin-bottom: 0;
}

.leftpanel {
    width: 202px;
    height: 470px;
    border-radius: 12px;
    background: var(--var-10);
    border: solid 1px var(--var-60);
    backdrop-filter: blur(100px);
    padding: 12px;
    .active {
        img {
            filter: sepia(1) saturate(50) hue-rotate(260deg) opacity(1);
        }
    }
    li {
        .list_sub_child {
            li {
                width: 178px;
                height: 36px;
                border: 1px solid transparent;
                border-radius: 12px;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: left;
                padding-left: 12px;
                cursor: pointer;
                color: var(--var-97);
                font-family: "Sohne";
                font-weight: 600;
                transition: 0.3s;
            }
            li:hover {
                background: var(--var-2);
                color: var(--var-7);
                border-color: var(--var-127);
            }
        }
        .list_button_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 178px;
            height: 36px;
            color: var(--var-97);
            padding-bottom: 8px;
            padding-top: 8px;
            border-bottom: solid 1px rgba(181, 181, 181, 0.2);
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 7px;
                font-size: 14px;
                font-family: "Sohne";
                font-weight: 600;
                cursor: pointer;
            }
        }
        button {
            cursor: pointer;
        }
    }
}

.expanded {
    color: var(--var-7) !important;
}
.expand_button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 4px;
    &.active {
        background-color: var(--var-11);
    }
}
