.active-menu-container {
    border: 1px solid var(--border-var-10);
    background-color: var(--bg-general);
    border-radius: 15px;
    gap: 6px;
    width: fit-content;
    height: fit-content;
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -335px;
}
.button {
    box-sizing: border-box;
    width: 100%;
    max-width: fit-content;
    min-width: 30px;
    height: 100%;
    max-height: fit-content;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
    border: none;
    background-color: var(--bg-general);
    margin: 0;
    box-shadow: none;
    &:hover {
        background-color: var(--bg-var-13) !important;
        svg path {
            fill: var(--icon-var-2);
        }
    }
}
