.apps {
    position: relative;
}

.apps_btn {
    &._active {
        [data-has-menu] {
            opacity: 1;
            &::before {
                transform: translate(-50%, -50%);
            }
        }
    }

    &:hover,
    &._active {
        > span > svg {
            fill: var(--var-7);
        }
    }

    [data-has-menu] {
        border: 1px solid var(--var-77) !important;
        color: var(--color-purple-500) !important;
        background-color: var(--var-35);
        &::before {
            background: var(--color-purple-500) !important;
        }
        &::after {
            background: var(--color-purple-500) !important;
        }
        .svg {
            fill: var(--color-purple-500) !important;
        }
    }
}
