.sharing {
    width: 475px;
    position: fixed;
    bottom: 100px;
    left: 73px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0 4px 30px rgba(#000, 0.1);
    z-index: 1000;
}

.seeAllLinks {
    position: fixed;
    top: 20%;
    left: 200px;
}

.enter {
    opacity: 0;
}
.enterActive {
    opacity: 1;
    transition: opacity 500ms;
}

.exit {
    opacity: 1;
}
.exitActive {
    opacity: 0;
    transition: opacity 500ms;
}
