.thread {
    background: var(--var-46);
    border: solid 2px var(--var-75);
    margin-top: 8px;
    backdrop-filter: blur(60px);
    border-radius: 12px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    width: auto;
    .th-header {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        gap: 8px;
        h4 {
            font-size: 14px;
            color: var(--var-97);
            font-family: "Sohne";
            font-weight: 600;
        }
        p {
            font-size: 12px;
            color: var(--var-116);
            font-family: "Sohne";
            font-weight: 500;
        }
        img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
    }
    .th-body {
        background: var(--var-60);
        border-radius: 8px;
        padding: 11px;
        width: calc(100% - 22px);
        p {
            color: var(--var-107);
            font-size: 14px;
            font-family: "Sohne";
            font-weight: 500;
        }
    }
}
