.message-frame-layout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.message-frame {
  width: -webkit-fill-available;
  margin: 20px auto;
  border: 1px solid rgba(237, 237, 237, 0.9);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;

  &.minimized {
    height: 40px;
    .message-frame-content {
      display: none;
    }
  }

  .message-frame-titlebar {
    background-color: rgba(237, 237, 237, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: Sohne;

    .window-controls {
      display: flex;
      align-items: center;
      margin-right: 10px;

      .window-control {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }

        &.close {
          background-color: #ff5f57;
        }

        &.minimize {
          background: #FFD6004D;
          border: 1px solid #FFD600;
        }

        &.maximize {
          background: #8BCF164D;
          border: 1px solid #8BCF16;
        }
      }
    }

    .window-title {
      font-size: 16px;
      color: #1F1F1F;
    }
  }

  .message-frame-content {
    position: relative;

    .message-frame-background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 200px;
      background-size: cover;
      background-position: center;
      z-index: 0;
      opacity: 0.2;
    }

    .message-frame-subtitle {
      margin-top: 0;
      position: relative;
      z-index: 1;
      font-size: 1.4rem;
      margin-bottom: 16px;
    }

    p {
      position: relative;
      z-index: 1;
      margin-bottom: 16px;
    }
  }
}

.notion_logo {
  height: 30px;
  width: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
}
