.shareScreenExpanded {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    gap: 4px;
    border: 1px solid var(--var-2);
    border-radius: 1000px;
    background-color: var(--var-46);
}

.expandedIcon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid transparent;

    transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        fill 0.3s ease;

    path {
        fill: #b5b5b5;
    }

    &:hover {
        background-color: rgba(#ff8b12, 0.2);
        border-color: #ff8b12;

        path {
            fill: #ff8b12;
        }
    }
}

.activeShareType {
    background-color: rgba(#ff8b12, 0.2);

    path {
        fill: #ff8b12;
    }
}

.bluetoothIcon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid transparent;

    transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        stroke 0.3s ease;

    path {
        stroke: #b5b5b5;
    }

    &:hover {
        background-color: rgba(#ff8b12, 0.2);
        border-color: #ff8b12;

        path {
            stroke: #ff8b12;
        }
    }
}
.activeBluetoothButton {
    background-color: rgba(#ff8b12, 0.2);

    path {
        stroke: #ff8b12;
    }
}

.enter {
    opacity: 0;
}
.enterActive {
    opacity: 1;
    transition: 0.5s ease-in;
    transition-property: transform, opacity;
}

.exit {
    opacity: 1;
}
.exitActive {
    opacity: 0;
    transition: 0.5s ease-in;
    transition-property: opacity;
}
