.bookmarks {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 8px;
  .setFontSohneKraftig(14px);
  padding: 14px 8px;
  background-color: var(--var-185);
  border: 1px solid var(--var-68);
  border-radius: 16px;
  transform-origin: top;
  transition:
          opacity 300ms ease,
          transform 300ms ease;
}

.enter {
  opacity: 0;
  transform: translateY(10px);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.exit {
  opacity: 0;
  transform: translateY(-10px);
}


.bookmarkHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  transition: opacity 300ms ease;
  opacity: 1;
}

.bookmarkTitle {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--var-97);

  svg path {
    fill: var(--var-94);
  }
}

.icon path {
  fill: #5b5b5b;
}

.minimizeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--var-2);
  cursor: pointer;

  svg path {
    fill: var(--var-94);
  }
}

.bookmarkWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid var(--var-60);
  background-color: var(--var-10);
}

.bookmark {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 12px;
  background-color: var(--var-2);
  border-radius: 12px;
  box-shadow: 0 8px 12px rgba(#000, 0.04);
  white-space: nowrap;
  opacity: 1;
  color: var(--var-7);
  transition: opacity 300ms ease;
}

.removeButton {
  path {
    fill: var(--var-87);
  }

  &:hover {
    path {
      fill: #ff453a;
    }
  }
}
