
.modalPdf {
  width: 100%;
  height: 100%;
  border: none;
  min-width: 100%;
  margin: 0;
  display: block;
  overflow: auto;
  overflow-x: hidden;

  position: relative;
  touch-action: none;
}

.modalPdf::-webkit-scrollbar {
  width: 7px;
  background: rgba(181, 181, 181, 0.8);
  border-radius: 20px;
  margin: 0;
  padding: 0;

}

.modalPdf::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 20px;
  height: 6px;
  cursor: pointer;
}

.modalPdfContainer {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.modalContentPdf {
  background: #F8F8F8CC;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1500;
  max-width: 30%;
  max-height: 85%;
  height: 100%;
}

.modalPdfPageSlideWrapper {
  position: absolute;
  width: 75px;
  height: 33px;
  bottom: 6%;
  left: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  right: 10px;
  z-index: 5000;
  background: rgba(31, 31, 31, 0.66);
  backdrop-filter: blur(5px);
  border: 1px solid #FFFFFF1A;
  font-size: 12px;
  border-radius: 30px;
  gap: 5px;
  font-family: "Sohne";
  color: #FFFFFF99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modalPdfContainer:hover .modalPdfPageSlideWrapper {
  opacity: 1;
  visibility: visible;
}

.modalFileNamePdfContainer {
  position: absolute;
  padding: 0 5px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 156px;
  height: 36px;
  background: radial-gradient(92.63% 98.61% at 50% 50%, rgba(0, 0, 0, 0.35) 0%, #CB6484 100%);
  font-size: 16px;
  font-weight: 400;
  font-family: "Sohne";
  color: #F8F8F8;
  border-radius: 17px;
  top: 1%;
  box-shadow: 0px 4px 20px 0px #0000000F;
  backdrop-filter: blur(20px);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition:
          opacity 0.3s ease,
          transform 0.3s ease,
          visibility 0.3s ease;
  z-index: 10000;
}

.modalContentPdf:hover .modalFileNamePdfContainer {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.separator {
  background-color: #F8F8F8;
  width: 100%;
  height: 2px;
}

.modalContentEditPanel {
  flex-direction: row;


}

.modalContentEditPanelItem {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  color: #B5B5B5;
  border-radius: 7px;
  transition: color 0.3s ease, border 0.3s ease;

  &:hover {
    color: #5B5B5B;
    border: 1px solid #B5B5B5;
  }

  &[data-active="true"] {
    color: #5B5B5B;
    border: 1px solid #B5B5B5;
  }
}

.colorPenInput {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.colorPenInput::-webkit-color-swatch-wrapper {
  border-radius: 50%;
  padding: 0;
}

.colorPenInput::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}


.modalContentEditPanel {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #F8F8F8;
  box-shadow: 0 0 12px 0 #0000000D;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  top: 0;
  left: -50px;
  gap: 5px;
}

.separator {
  background-color: #F8F8F8;
  width: 100%;
  height: 2px;
}

.drawCanvas {
  pointer-events: auto;
  touch-action: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}

.drawContainer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  gap: 7px;
}

.colorInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  margin-top: 5px;

  &:hover {
    color: #7a7a7a;
  }
}

.colorInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #616161;
}

.colorInput::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 50%;
}

.colorInput::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.pageContainer {
  position: relative;
  width: 30vw;
  overflow: hidden;
  margin-bottom: 10px;
}

.textSettingsMenu {
  background: #FFFFFF;
  position: absolute;
  top: 130px;
  left: -60px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 8px;
  border: none;
  font-size: 12px;
  padding: 5px;
  width: 80px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}

.selectWeightInput {
  border-radius: 8px;
  border: none;
  font-size: 12px;
  padding: 5px;
  width: 100%;
}

.selectTextSize {
  border-radius: 8px;
  border: none;
  font-size: 12px;
  padding: 5px;
  width: 100%;
}

.colorInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding-left: 5px;

  &:hover {
    color: #7a7a7a;
  }
}

.okButton {
  color: #b8b8b8;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #7a7a7a;
  }
}

.textAnnotationInput {
  background-color: rgba(177, 177, 177, 0.39);
  padding: 5px;
  border-radius: 8px;
}