.actionsPanelContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1px;
  padding: 2px;
  height: 42px;
  width: 118px;
  min-width: fit-content;
  background: #ffffffb2;
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 #0000000a;
  border: 1px solid #F8F8F8;
  box-sizing: content-box;
}

.panelButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-sizing: content-box;
  transition: background-color 0.2s linear;
}
.panelButton:hover {
  background-color: #EEEEEE;
}

.panelButtonClose {
  color: #B5B5B5;
  transition: color 0.2s linear;
}
.panelButtonClose:hover {
  color: #FF4C4C;
}