:root {
    // WHITE
    --color-white-05: rgba(255, 255, 255, 0.05);
    --color-white-07: rgba(255, 255, 255, 0.07);
    --color-white-11: rgba(255, 255, 255, 0.11);
    --color-white-16: rgba(255, 255, 255, 0.16);
    --color-white-36: rgba(255, 255, 255, 0.36);
    --color-white-80: rgba(255, 255, 255, 0.8);
    --color-white-85: rgba(255, 255, 255, 0.85);
    --color-white-100: rgba(255, 255, 255, 1);
    // BLACK
    --color-black-05: rgba(0, 0, 0, 0.05);
    //GREY
    --color-neutral-100-20: rgba(248, 248, 248, 0, 2);
    --color-neutral-100: rgba(248, 248, 248, 1);
    --color-neutral-150: rgba(221, 221, 221, 1);
    --color-neutral-200: rgba(207, 207, 207, 1);
    --color-neutral-250-20: rgba(210, 210, 210, 0.2);
    --color-neutral-400-20: rgba(181, 181, 181, 0.2);
    --color-neutral-400: rgba(181, 181, 181, 1);
    --color-neutral-600: rgba(91, 91, 91, 1);
    --color-neutral-900: rgba(45, 45, 45, 1);
    --color-neutral-950-05: rgba(31, 31, 31, 0.05);
    --color-neutral-950-20: rgba(31, 31, 31, 0.2);
    --color-neutral-950-35: rgba(31, 31, 31, 0.35);
    --color-neutral-950: rgba(31, 31, 31, 1);
    // RED
    --color-red-500-20: rgba(255, 95, 95, 0.2);
    --color-red-500: rgba(255, 95, 95, 1);
    // BROWN
    --color-brown-900-20: rgba(46, 24, 1, 0.2);
    // ORANGE
    --color-orange-500-90: rgba(255, 139, 18, 0.9);
    --color-orange-500: rgba(255, 139, 18, 1);
    // PURPLE
    --color-purple-500-60: rgba(151, 71, 255, 0.6);
    --color-purple-500: rgba(151, 71, 255, 1);

    // GRADIENTS
    --color-gradient-light: linear-gradient(to bottom, rgb(255, 139, 18), rgb(248, 248, 248));
    --color-gradient-dark: linear-gradient(to bottom, rgb(151, 71, 255), rgba(31, 31, 31, 0));
}
