html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-main);
    overflow: hidden;
}

#root {
    height: 100%;
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        &-thumb {
            background: #dddddd;
            border-radius: 6px;
        }
    }
}

.inline-wrapper {
    display: flex;
    align-items: center;

    p {
        margin: 0;
    }
}

.highlighted-span {
    &.green {
        color: #53b400;
    }
}

.custom-tag {
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    line-height: 100%;

    p {
        margin: 0;
    }

    &.green {
        color: #0fbe00;
        background-color: #dcffd975;
        border: 1px dashed #0fbe00;
    }

    &.red {
        color: #ff5c5c;
        border: 1px dashed #ff5c5c;
        background-color: #ffcbcb75;
    }

    &.blue {
        color: #5cbaff;
        border: 1px dashed #5cbaff;
        background-color: #cbefff75;
    }

    &.yellow {
        color: #ffd35c;
        border: 1px dashed #ffd35c;
        background-color: #ffefcb75;
    }
}

.integrations.ant-dropdown {
    .ant-dropdown-menu {
        padding: 0;

        .ant-dropdown-menu-submenu-title {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
        }

        .ant-dropdown-menu-item {
            padding: 8px 12px;
        }

        .ant-dropdown-menu-title-content {
            text-wrap: nowrap;
        }
    }
}

.integrations-submenu.ant-dropdown-menu-submenu {
    .ant-dropdown-menu-item {
        padding: 5px;

        & > svg {
            width: 24px;
            height: 24px;
            margin: 0 !important;
        }
    }
}

.ant-tooltip .ant-tooltip-arrow {
    &::before {
        background-color: var(--bg-color-main);
    }
}

@keyframes gradientChange {
    0% {
        fill: url(#redBlackBlackGradient);
    }
    100% {
        fill: url(#redBlueBlackGradient);
    }
}
