.tooltip_icons {
    display: flex;
    flex-direction: row;
    margin-top: 4px;

    svg {
        opacity: 1 !important;
        width: 20px;
        height: 20px;

        path {
            fill: #ffffff;
        }
    }
}

.tooltip_icons_column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 4px;
}

.tooltip_icon_row {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: center;
}

.tooltip_icon_row > div {
    width: 43px;
    height: 43px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 13px;

    svg {
        stroke: rgba(255, 255, 255, 1);
    }
}

.tooltip_paragraph_with_icons {
    svg {
        width: 18px;
        height: 18px;
    }
}

.navigation_prev {
    rotate: -90deg;
}

.navigation_next {
    rotate: 90deg;
}
