// backgrounds
:root {
    --bg-general: var(--color-white-100); // --color-white-100, --color-neutral-900
    --bg-var-1: var(--color-neutral-100); // --color-neutral-100, --color-white-05
    --bg-var-2: var(--color-neutral-100); // --color-neutral-100, --color-white-16
    --bg-var-3: var(--color-red-500-20); // --color-red-500-20, --color-red-500-20
    --bg-var-4: var(--color-neutral-950-20); // --color-neutral-950-20, --color-white-16
    --bg-var-5: var(--color-neutral-950-35); // --color-neutral-950-35, --color-white-16
    --bg-var-6: var(--color-white-80); // --color-white-80, --color-white-16
    --bg-var-7: var(--color-neutral-950); // --color-neutral-950, --color-white-100
    --bg-var-8: transparent; // transparent, --color-white-16
    --bg-var-9: var(--color-neutral-400-20); // --color-neutral-400-20, --color-white-16
    --bg-var-10: var(--color-white-80); // --color-white-80, --color-white-05
    --bg-var-11: var(--color-white-100); // --color-white-100, --color-white-16
    --bg-var-12: var(--color-neutral-950-35); // --color-neutral-950-35, --color-white-07
    --bg-var-13: var(--color-neutral-100); // --color-neutral-100, --color-white-07
    --bg-var-14: var(--color-neutral-950); // --color-neutral-950, --color-white-16
    --bg-var-15: var(--color-neutral-100); // --color-neutral-100, --color-white-36
    --bg-var-16: var(--color-white-100); // --color-white-100, --color-white-85
    --bg-var-17: var(--color-neutral-100); // --color-neutral-100, --color-neutral-950
    --bg-var-18: var(--color-white-70); // --color-white-70, --color-white-11
    --bg-var-19: var(--color-neutral-150-20); // --color-neutral-150-20, --color-white-05
    --bg-var-20: var(--color-white-80); // --color-white-80, --color-neutral-950
    --bg-var-21: var(--color-neutral-110); // --color-neutral-200, --color-white-11
    --bg-var-22: var(--color-neutral-120); // --color-neutral-120, --color-neutral-900
    --bg-var-23: var(--color-neutral-110); // --color-neutral-110, --color-neutral-900
    --bg-var-24: var(--color-white-100); // --color-white-100, --color-neutral-900
    --bg-var-25: var(--color-neutral-100); // --color-neutral-100, --color-white-16
    --bg-var-26: var(--color-neutral-450); // --color-neutral-450, --color-neutral-900
    --bg-var-27: var(--color-purple-100); // --color-purple-100, --color-purple-500-11
    --bg-var-28: var(--color-neutral-100); // --color-neutral-100, transparent
    --bg-var-29: var(--color-purple-100); // --color-purple-100, --color-purple-500-24
    --bg-var-30: var(--color-white-100); // --color-white-100, --color-white-07
    --bg-var-31: var(
        --color-white-100
    ); /* --color-white-100, linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.11) 0%,
			rgba(255, 255, 255, 0.05) 100%
			)*/
    --bg-var-32: var(--color-white-100); // --color-white-100, --color-neutral-700
    --bg-var-33: var(--color-green-200); // --color-green-200, --color-green-400-16
    --bg-var-34: var(--color-white-80); // --color-white-80, --color-neutral-600-80
    --bg-var-35: var(--color-black-60); // --color-black-60, --color-neutral-950-85
    --bg-var-36: var(--color-black-05); // --color-black-05, --color-neutral-900
    --bg-var-37: var(--color-neutral-100-80); // --color-neutral-100-80, --color-white-05
    --bg-var-38: transparent; // transparent, --color-white-85
    --bg-var-39: var(--color-neutral-100); // --color-neutral-100, --color-white-11
    --bg-var-40: var(--color-green-50); // --color-green-50, --color-green-400-11
    --bg-var-41: var(--color-white-100-11); // --color-white-100-11, --color-neutral-900
    --bg-var-42: var(--color-white-50); // --color-white-50, --color-white-16
    --bg-var-43: var(--color-neutral-105); // --color-neutral-105, --color-neutral-960
}
body.dark {
    --bg-general: var(--color-neutral-900);
    --bg-transparent: transparent;
    --bg-var-1: var(--color-white-05);
    --bg-var-2: var(--color-white-16);
    --bg-var-3: var(--color-red-500-20);
    --bg-var-4: var(--color-white-16);
    --bg-var-5: var(--color-white-16);
    --bg-var-6: var(--color-white-16);
    --bg-var-7: var(--color-white-100);
    --bg-var-8: var(--color-white-16);
    --bg-var-9: var(--color-white-16);
    --bg-var-10: var(--color-white-05);
    --bg-var-11: var(--color-white-16);
    --bg-var-12: var(--color-white-07);
    --bg-var-13: var(--color-white-07);
    --bg-var-14: var(--color-white-16);
    --bg-var-15: var(--color-white-36);
    --bg-var-16: var(--color-white-85);
    --bg-var-17: var(--color-neutral-950);
    --bg-var-18: var(--color-white-11);
    --bg-var-19: var(--color-white-05);
    --bg-var-20: var(--color-neutral-900);
    --bg-var-21: var(--color-white-11);
    --bg-var-22: var(--color-neutral-900);
    --bg-var-23: var(--color-neutral-900);
    --bg-var-24: var(--color-neutral-900);
    --bg-var-25: var(--color-white-16);
    --bg-var-26: var(--color-neutral-900);
    --bg-var-27: var(--color-purple-500-11);
    --bg-var-28: transparent;
    --bg-var-29: var(--color-purple-500-24);
    --bg-var-30: var(--color-white-07);
    --bg-var-31: linear-gradient(180deg, var(--color-white-11) 0%, var(--color-white-05) 100%);
    --bg-var-32: var(--color-neutral-700);
    --bg-var-33: var(--color-green-400-16);
    --bg-var-34: var(--color-neutral-600-80);
    --bg-var-35: var(--color-neutral-950-85);
    --bg-var-36: var(--color-neutral-900);
    --bg-var-37: var(--color-white-05);
    --bg-var-38: var(--color-white-85);
    --bg-var-39: var(--color-white-11);
    --bg-var-40: var(--color-green-400-11);
    --bg-var-41: var(--color-neutral-900);
    --bg-var-42: var(--color-white-16);
    --bg-var-43: var(--color-neutral-960);
}
//borders
:root {
    --border-var-1: var(--color-neutral-150); // --color-neutral-150, --color-white-16
    --border-var-2: var(--color-red-500); // --color-red-500, --color-red-500
    --border-var-3: var(--color-neutral-950-05); // --color-neutral-950-05, --color-neutral-950-05
    --border-var-4: var(--color-neutral-950-05); // --color-neutral-950-05, --color-white-05
    --border-var-5: var(--color-white-11); // --color-white-11, --color-white-11
    --border-var-6: var(--color-neutral-200); // --color-neutral-200, --color-white-16
    --border-var-7: var(--color-neutral-150); // --color-neutral-150, transparent
    --border-var-8: var(--color-neutral-150); // --color-neutral-150, --color-white-11
    --border-var-9: var(--color-neutral-150); // --color-neutral-150, --color-white-24
    --border-var-10: var(--color-neutral-100); // --color-neutral-100, --color-white-05
    --border-var-11: var(--color-neutral-100); // --color-neutral-100, --color-white-11
    --border-var-12: var(--color-neutral-150); // --color-neutral-150, --color-white-100
    --border-var-13: var(--color-neutral-180); // --color-neutral-180, transparent
    --border-var-14: var(--color-neutral-100); // --color-neutral-100, --color-white-16
    --border-var-15: var(--color-white-100); // --color-white-100, --color-white-16
    --border-var-16: var(--color-neutral-300); // --color-neutral-300, --color-white-09
    --border-var-17: var(--color-white-100); // --color-white-100, --color-white-05
    --border-var-18: var(--color-neutral-400); // --color-neutral-400, --color-white-16
    --border-var-19: var(--color-purple-500); // --color-purple-500, --color-purple-500-85
    --border-var-20: var(--color-black-10); // --color-black-10, --color-white-36
    --border-var-21: var(--color-neutral-150); // --color-neutral-150, --color-white-05
    --border-var-22: var(--color-white-100); // --color-white-100, --color-white-11
    --border-var-23: var(--color-neutral-400); // --color-neutral-400, --color-white-24
    --border-var-24: var(--color-purple-500); // --color-purple-500, transparent
    --border-var-25: var(--color-green-400); // --color-green-400, --color-green-400-85
    --border-var-26: var(--color-neutral-950-05); // --color-neutral-950-05, --color-white-11
}
body.dark {
    --border-var-1: var(--color-white-16);
    --border-var-2: var(--color-red-500);
    --border-var-3: var(--color-neutral-950-05);
    --border-var-4: var(--color-white-05);
    --border-var-5: var(--color-white-11);
    --border-var-6: var(--color-white-16);
    --border-var-7: transparent;
    --border-var-8: var(--color-white-11);
    --border-var-9: var(--color-white-24);
    --border-var-10: var(--color-white-05);
    --border-var-11: var(--color-white-11);
    --border-var-12: var(--color-white-100);
    --border-var-13: transparent;
    --border-var-14: var(--color-white-16);
    --border-var-15: var(--color-white-16);
    --border-var-16: var(--color-white-09);
    --border-var-17: var(--color-white-05);
    --border-var-18: var(--color-white-16);
    --border-var-19: var(--color-purple-500-85);
    --border-var-20: var(--color-white-36);
    --border-var-21: var(--color-white-05);
    --border-var-22: var(--color-white-11);
    --border-var-23: var(--color-white-24);
    --border-var-24: transparent;
    --border-var-25: var(--color-green-400-85);
    --border-var-26: var(--color-white-11);
}
// dividers
:root {
    --divider-var-1: var(--color-neutral-400-20); // --color-neutral-400-20, --color-white-07
    --divider-var-2: var(--color-black-05); // --color-black-05, --color-white-05
    --divider-var-3: var(--color-neutral-100); // --color-neutral-100, --color-white-07
    --divider-var-4: var(--color-neutral-100); // --color-neutral-100, --color-neutral-700
}
body.dark {
    --divider-var-1: var(--color-white-07);
    --divider-var-2: var(--color-white-05);
    --divider-var-3: var(--color-white-07);
    --divider-var-4: var(--color-neutral-700);
}
//icons
:root {
    --icon-var-1: var(--color-neutral-400); // --color-neutral-400, --color-white-36
    --icon-var-2: var(--color-neutral-600); // --color-neutral-600, --color-white-85
    --icon-var-3: var(--color-neutral-950); // --color-neutral-950, --color-white-100
    --icon-var-4: var(--color-neutral-150); // --color-neutral-150, --color-white-36
    --icon-var-5: var(--color-red-500); // --color-red-500, --color-red-500
    --icon-var-6: var(--color-neutral-200); // --color-neutral-200, --color-white-36
    --icon-var-7: var(--color-neutral-100); // --color-neutral-100, --color-neutral-950
    --icon-var-8: var(--color-neutral-500); // --color-neutral-500, --color-white-16
    --icon-var-9: var(--color-neutral-400); // --color-neutral-400, --color-white-85
    --icon-var-10: var(--color-neutral-150); // --color-neutral-150, --color-neutral-400
    --icon-var-11: var(--color-neutral-600); // --color-neutral-600, --color-white-36
    --icon-var-12: var(--color-neutral-600); // --color-neutral-600, --color-neutral-400
    --icon-var-13: var(--color-neutral-600); // --color-neutral-600, --color-white-60
    --icon-var-14: var(--color-neutral-600); // --color-neutral-600, --color-white-100
    --icon-var-15: var(--color-neutral-400); // --color-neutral-400, --color-white-60
    --icon-var-16: var(--color-neutral-150); // --color-neutral-150, --color-white-16
    --icon-var-17: var(--color-neutral-600); // --color-neutral-600, --color-neutral-350
    --icon-var-18: var(--color-white-60); // --color-white-60, --color-white-85
    --icon-var-19: var(--color-neutral-500); // --color-neutral-500, --color-white-36
    --icon-var-20: var(--color-neutral-500); // --color-neutral-500, --color-white-85
}
body.dark {
    --icon-var-1: var(--color-white-36);
    --icon-var-2: var(--color-white-85);
    --icon-var-3: var(--color-white-100);
    --icon-var-4: var(--color-white-36);
    --icon-var-5: var(--color-red-500);
    --icon-var-6: var(--color-white-36);
    --icon-var-7: var(--color-neutral-950);
    --icon-var-8: var(--color-white-16);
    --icon-var-9: var(--color-white-85);
    --icon-var-10: var(--color-neutral-400);
    --icon-var-11: var(--color-white-36);
    --icon-var-12: var(--color-neutral-400);
    --icon-var-13: var(--color-white-60);
    --icon-var-14: var(--color-white-100);
    --icon-var-15: var(--color-white-60);
    --icon-var-16: var(--color-white-16);
    --icon-var-17: var(--color-neutral-350);
    --icon-var-18: var(--color-white-85);
    --icon-var-19: var(--color-white-36);
    --icon-var-20: var(--color-white-85);
}
//text
:root {
    --text-var-1: var(--color-neutral-950); // --color-neutral-950, --color-neutral-120
    --text-var-2: var(--color-neutral-100); // --color-neutral-100, --color-neutral-950
    --text-var-3: var(--color-neutral-500); // --color-neutral-500, --color-neutral-350
    --text-var-4: var(--color-neutral-950); // --color-neutral-950, --color-white-100
    --text-var-5: var(--color-neutral-100); // --color-neutral-100, --color-white-100
    --text-var-6: var(--color-neutral-950-35); // --color-neutral-950-35, --color-white-80
    --text-var-7: var(--color-neutral-950); // --color-neutral-950, --color-neutral-400
    --text-var-8: var(--color-neutral-600); // --color-neutral-600, --color-neutral-350
    --text-var-9: var(--color-neutral-200); // --color-neutral-200, --color-neutral-500
    --text-var-10: var(--color-white-100); // --color-white-100, --color-neutral-120
    --text-var-11: var(--color-neutral-600); // --color-neutral-600, --color-neutral-400
    --text-var-12: var(--color-neutral-200); // --color-neutral-200, --color-neutral-350
    --text-var-13: var(--color-neutral-400); // --color-neutral-400, --color-neutral-500
    --text-var-14: var(--color-purple-700); // --color-purple-700, --color-purple-500-76
    --text-var-15: var(--color-neutral-600); // --color-neutral-600, --color-white-85
    --text-var-16: var(--color-neutral-600); // --color-neutral-600, --color-neutral-120
    --text-var-17: var(--color-white-100); // --color-white-100, --color-neutral-950
    --text-var-18: var(--color-neutral-400); // --color-neutral-400, --color-neutral-350
    --text-var-19: var(--color-green-900); // --color-green-900, --color-green-400
    --text-var-20: var(--color-white-60); // --color-white-60, --color-white-85
    --text-var-21: var(--color-neutral-600); // --color-neutral-600, --color-white-100
    --text-var-22: var(--color-green-900); // --color-green-900,--color-green-400-76
    --text-var-23: var(--color-white-100); // --color-white-100, --color-white-85
    --text-var-24: var(--color-neutral-400); // --color-neutral-400, --color-neutral-100
}

body.dark {
    --text-var-1: var(--color-neutral-120);
    --text-var-2: var(--color-neutral-950);
    --text-var-3: var(--color-neutral-350);
    --text-var-4: var(--color-white-100);
    --text-var-5: var(--color-white-100);
    --text-var-6: var(--color-white-80);
    --text-var-7: var(--color-neutral-400);
    --text-var-8: var(--color-neutral-350);
    --text-var-9: var(--color-neutral-500);
    --text-var-10: var(--color-neutral-120);
    --text-var-11: var(--color-neutral-400);
    --text-var-12: var(--color-neutral-350);
    --text-var-13: var(--color-neutral-500);
    --text-var-14: var(--color-purple-500-76);
    --text-var-15: var(--color-white-85);
    --text-var-16: var(--color-neutral-120);
    --text-var-17: var(--color-neutral-950);
    --text-var-18: var(--color-neutral-350);
    --text-var-19: var(--color-green-400);
    --text-var-20: var(--color-white-85);
    --text-var-21: var(--color-white-100);
    --text-var-22: var(--color-green-400-76);
    --text-var-23: var(--color-white-85);
    --text-var-24: var(--color-neutral-100);
}

// GRADIENTS
:root {
    //background gradients
    --bg-gradient-var-1: linear-gradient(90deg, transparent 0%, var(--color-neutral-150) 100%);
    --bg-gradient-var-2: linear-gradient(90deg, var(--color-neutral-150) 0%, transparent 100%);
    --bg-gradient-var-3: linear-gradient(
        135deg,
        var(--color-neutral-500-46) 11.46%,
        var(--color-white-100) 91.67%
    );
    --bg-gradient-var-4: linear-gradient(
        135deg,
        var(--color-white-11) 11.46%,
        var(--color-white-05) 91.67%
    );
    --bg-gradient-var-5: linear-gradient(
        180deg,
        var(--color-neutral-600) 0%,
        var(--color-neutral-950) 100%
    );
    --bg-gradient-var-6: linear-gradient(
        273.07deg,
        rgba(255, 205, 205, 0.12) -11.76%,
        #f8f8f8 18.11%,
        #fff9e6 47.97%,
        #f8f8f8 77.84%,
        #e4f4ff 107.71%,
        #f8f8f8 137.58%
    );
    --bg-gradient-var-7: linear-gradient(180deg, rgb(151, 71, 255) 0%, rgba(151, 71, 255, 0) 95%);
    //text gradients
    --text-gradient-var-1: linear-gradient(to right, var(--color-black-60), var(--color-black-10));
    --text-gradient-var-2: linear-gradient(
        90.09deg,
        var(--color-purple-500) -24.88%,
        var(--color-neutral-950) 72.4%
    );
}
body.dark {
    //background gradients
    --bg-gradient-var-1: linear-gradient(90deg, transparent 0%, var(--color-white-16) 100%);
    --bg-gradient-var-2: linear-gradient(90deg, var(--color-white-16) 0%, transparent 100%);

    --bg-gradient-var-3: linear-gradient(
        135deg,
        var(--color-white-11) 11.46%,
        var(--color-white-05) 91.67%
    );
    --bg-gradient-var-4: linear-gradient(
        135deg,
        var(--color-neutral-500-46) 11.46%,
        var(--color-white-100) 91.67%
    );
    --bg-gradient-var-5: linear-gradient(
        -15deg,
        var(--color-white-05) 20%,
        var(--color-white-100) 100%
    );
    --bg-gradient-var-6: linear-gradient(
        90.48deg,
        rgba(255, 205, 205, 0.024) -19.77%,
        rgba(255, 114, 114, 0.2) 4.99%,
        rgba(255, 174, 0, 0.2) 29.75%,
        rgba(255, 95, 95, 0.2) 54.52%,
        rgba(0, 123, 255, 0.2) 79.28%,
        rgba(254, 120, 120, 0.2) 104.04%
    );

    --bg-gradient-var-7: linear-gradient(
        180deg,
        rgb(151, 71, 255) 0%,
        rgba(91, 43, 153, 0.9) 50%,
        rgba(255, 255, 255, 0) 85%
    );
    //text gradients
    --text-gradient-var-1: linear-gradient(to right, var(--color-white-60), var(--color-white-100));
    --text-gradient-var-2: linear-gradient(
        90.01deg,
        var(--color-purple-500) -12.91%,
        var(--color-white-85) 72.43%
    );
}
/* MAGIC BUTTON */
:root {
    --bg-magic-button: linear-gradient(to bottom, var(--color-white-100), transparent);
}
body.dark {
    --bg-magic-button: linear-gradient(to bottom, var(--color-white-16), var(--color-white-05));
}

// Icons gradients identifiers
:root {
    --icon-all-branches-button: url("#branches-gradient-light");
    --icon-all-branches-button-hover: url("#branches-gradient-light-hover");
    --icon-doe-msg-logo: url("#doe-msg-logo-light");
    --icon-doe-msg-logo-branches: url("#doe-msg-logo-dark");
}
body.dark {
    --icon-all-branches-button: url("#branches-gradient-dark");
    --icon-all-branches-button-hover: var(--color-white-100);
    --icon-doe-msg-logo: url("#doe-msg-logo-dark");
    --icon-doe-msg-logo-branches: url("#doe-msg-logo-light");
}

:root {
    --bg-color-main: rgb(255, 255, 255);
    --bg-color-input: rgb(246, 246, 246);
    --bg-message-editor: rgb(239, 239, 239);
    --bg-close-message-editor: rgb(209, 209, 209);
    --btn-color-primary: rgb(255, 255, 255);
    --btn-color-inactive: rgb(240, 240, 240);
    --btn-color-border: rgb(208, 208, 208);
    --icon-color-primary: rgb(0, 0, 0);
    --icon-color-secondary: rgb(124, 124, 124);
    --border-color-primary: rgba(172, 172, 172, 0.337);
    --gaia-button-bg: rgb(240, 240, 240);
    --text-color-primary: rgb(0, 0, 0);
    --table-border-color: rgb(204, 204, 204);
    --font-sohne: "Sohne";
    --font-inter: "Inter";
    --font-sf-mono: "SF Mono";
}
// Dark mode
body.dark {
    --bg-color-main: rgb(31, 31, 31);
    --bg-color-input: rgb(47, 47, 47);
    --btn-color-primary: rgb(36, 36, 36);
    --bg-close-message-editor: rgb(58, 58, 58);
    --bg-message-editor: rgb(47, 47, 47);
    --btn-color-inactive: rgb(47, 47, 47);
    --btn-color-border: rgb(63, 63, 63);
    --icon-color-primary: rgb(255, 255, 255);
    --icon-color-secondary: rgb(124, 124, 124);
    --border-color-primary: rgb(151, 151, 151);
    --gaia-button-bg: rgb(47, 47, 47);
    --text-color-primary: rgb(255, 255, 255);
    --table-border-color: rgb(63, 63, 63);
}
