.translator {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    gap: 30px;
    overflow: auto;
    position: relative;
}

.chipIcon {
    path {
        fill: #f8f8f8;
    }
}

.magicMenu {
    margin: 0 auto;
}
