.magicBtn {
    padding: 10px;
    border: 1px solid transparent;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 6px;

    .setFontSohneBuch(14px, 1.1, normal);
    color: var(--var-108);

    transition: 200ms ease;
    transition-property: border, background;

    border-radius: 12px;
    &:hover {
        background: var(--var-2);
        border: 1px solid var(--var-69);
        color: var(--var-7);

        .magicBtn_hasMenu {
            opacity: 1;
        }
    }
}

.magicBtn_icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    svg {
        width: 100%;
        height: 100%;
        fill: var(--var-89);
        transition: fill 200ms ease;
    }
}

.magicBtn_hasMenu {
    margin-left: auto;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: var(--var-11);

    position: relative;

    opacity: 0;

    overflow: hidden;

    &::after,
    &::before {
        content: "";
        display: block;
        width: 10px;
        height: 1px;
        background: var(--var-7);

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        transition: 200ms ease;
        transition-property: transform, opacity;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}
