.filesList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.file {
    display: flex;
    align-items: center;
    .setFontSohneBuch(16px);
    color: #365302;
    gap: 2px;
}

.fileIcon {
    margin-right: 4px;
    flex-shrink: 0;
}

.checkFilledIcon {
    flex-shrink: 0;
}

.fileName {
    max-width: 850px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fileNameShorten {
    max-width: 350px;
}
