.content {
    height: 0;
    flex: 1 1 auto;
    padding-right: 76px;
    overflow: auto;
}

.content_inner {
    height: 100%;
    border-radius: 16px;
    background: #f8f8f8;
    background: #F8F8F8;
}

.content_chat {
    margin: 0 auto;
    max-width: 892px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;
}