.content {
    height: 0;
    flex: 1 1 auto;
    padding-right: 76px;
    overflow: auto;
    position: relative;
}

.content_playground {
    height: 0;
    flex: 1 1 auto;
    padding-right: 22px;
    padding-left: 22px;
    overflow: auto;
    background-color: #F8F8F8;
    border-radius: 16px;
}
.content_playground_fullscreen {
    height: 0;
    flex: 1 1;
    overflow: auto;
    background-color: #F8F8F8;
    border-radius: 16px;
}
.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 76px);
    height: 20px;
    border-radius: 16px;
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
    pointer-events: none;
}
.content_inner {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    border-radius: 16px;
    overflow-y: scroll;
    background: #f8f8f8;
    padding-top: 20px;
    overflow-x: hidden;
}
.content_inner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 76px);
  height: 54px;
  background: linear-gradient(to top, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
  pointer-events: none;
  border-radius: 16px;
}

.content_chat_branch_wrapper{
  backdrop-filter: blur(15px)
}

.logoWrapper {
  position: fixed;
  top: 45px;
  left: 95px;
}

.logoWrapperSideBarOpen {
  position: fixed;
  top: 45px;
  left: 295px;

}

.logoWrapperPlaygroundOpen {
  position: fixed;
  top: 90px;
  left: 90px;
  z-index: 10000;
}

.logoWrapperPlaygroundAndSideBarOpen {
  position: fixed;
  top: 90px;
  left: 295px;
  z-index: 10000;
}

.logoPopup {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
}

.logoPopupEnter {
  opacity: 0;
  transform: translateY(-20px);
}

.logoPopupEnterActive {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.logoPopupExit {
  opacity: 1;
  transform: translateY(0);
}

.logoPopupExitActive {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}