.content {
    height: 0;
    flex: 1 1 auto;
    padding-right: 76px;
    overflow: auto;
}

.content_inner {
    height: 100%;
    border-radius: 16px;
    background: #f8f8f8;
    background: darken(#f8f8f8, 5%);
}
