.message-list-of-each-day-item {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  font-size: 14px;
  background: linear-gradient(90deg, #8D8D8D, #DDDDDD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.message-and-icon {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-direction: row;
  gap: 5px;
}

.message-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  border-radius: 4px;
  background: #F8F8F8;

  svg path {
    fill: #5B5B5B;
  }
}

.new-message {
  svg path {
    fill: #FF8B12 !important;
  }
}

.oblique_pin_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: #DDDDDD;
  transition: color 0.3s ease;

  &:hover {
    color: #5B5B5B;
  }
}

.oblique_pin_icon.pinned_icon {
  color: #FF8B12 !important;
}

