.general-logo-hovered-container {
    max-width: 48px;
    max-height: 48px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    border-image-source: linear-gradient(161.57deg, #ffe4c8 12.5%, #ffffff 95.83%);
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.4) 100%);
    box-shadow: 0px 3px 12px 0px #ffe4c8;
}
.general-logo-container {
    max-width: 48px;
    max-height: 48px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.4) 100%);
    border-image-source: linear-gradient(135deg, rgba(141, 141, 141, 0.46) 11.46%, #ffffff 91.67%);
    box-shadow: 0px 3px 12px 0px #1f1f1f0d;
}
