.magicMenu {
    position: relative;
}

.menu {
    position: absolute;
    left: 50%;
    top: -190px;
    transform: translate(-50%, -10px);
    width: max-content;
    padding: 6px;
    border-radius: 16px;
    background: rgba(#fff, 0.8);
    border: 1px solid #dddddd;
    backdrop-filter: blur(80px);
    box-shadow: 0 0 12px rgba(#000, 5%);
}

.enter {
    opacity: 0;
    transform: translateY(-10px);
}
.enterActive {
    opacity: 1;
    transform: translateY(-20px);
    transform: translateX(-50%);

    transition: 300ms ease;
    transition-property: transform, opacity;
}

.exit {
    opacity: 1;
    transform: translateY(-20px);
}
.exitActive {
    opacity: 0;
    transform: translateY(-50px);
    transition: 300ms ease;
    transition-property: transform, opacity;
}
