.dateSeparator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: 8px;
  position: relative;

  &::before {
    content: "";
    flex: 1;
    height: 1px;
    background: linear-gradient(90deg, rgba(221, 221, 221, 0) 0% , #DDDDDD 100% );
    margin: 0 12px;
  }
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background: linear-gradient(90deg, #dddddd 0%, rgba(221, 221, 221, 0) 100%);
    margin: 0 12px;
  }
}

.dateSeparator_text {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 16px;
  color: #999;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  font-size: 14px;
}
