.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 100px;
    background: rgba(31, 31, 31, 0.65);
    z-index: 1;
    gap: 6px;
    padding: 10px;
    color: var(--var-98);
    font-size: 12px;
}

.numPages {
    color: rgba(255, 255, 255, 0.16);
}

.icon {
    transform: rotate(180deg);

    path {
        fill: var(--var-98);
    }
}

.disabled {
    path {
        fill: rgba(255, 255, 255, 0.16);
    }
}
