.sidebar {
    width: 76px;
    padding: 75px 18px 42px;
    // overflow: auto;

    display: flex;
    flex-direction: column;

    height: 100%;
    background-color: var(--bg-color-sidebar);
    &::-webkit-scrollbar {
        display: none;
    }
}
.sidebar_playground {
    // overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}
// Profile
.sidebar_profile {
    margin-top: 16px;
    padding-top: 20px;
    border-top: 1px solid var(--divider);
}
.sidebar_profile_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

// Theme
.sidebar_theme {
    margin-top: 18px;
}
.sidebar_theme_toggler {
    padding: 4px 0;
    border-radius: 100px;
    height: 72px;
    width: 40px;
    background: #f8f8f8;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.sidebar_theme_btn {
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 50%;
    flex-shrink: 0;

    svg {
        width: 100%;
        height: 100%;
        fill: #1f1f1f;
        opacity: 0.2;
    }

    &:disabled {
        background: #fff;

        svg {
            opacity: 1;
        }
    }
}

// Menu
.sidebar_controls {
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid var(--divider);

    overflow-y: auto;
    height: 0;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    gap: 12px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.sidebar_controls_group {
    display: flex;
    flex-direction: column;

    + .sidebar_controls_group {
        padding-top: 12px;
        border-top: 1px solid var(--divider);
    }
}

.sidebar_controls_btn {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: var(--bg-sidebar-action-button-default);
    display: flex;
    justify-content: center;
    align-items: center;
    .css.sidebar_controls_chats {
        width: 280px;
        height: 1024px;
        border-right-width: 1px;
        color: #ffffff;
    }
    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        object-position: center;
    }

    svg {
        width: 20px;
        height: 20px;
        fill: var(--icon-sidebar-action-button-default);
    }
    &:hover {
        background-color: var(--bg-sidebar-action-button-hover);
        svg {
            fill: var(--icon-sidebar-action-button-hover);
        }
    }
    &[data-active="true"] {
        background-color: var(--bg-sidebar-action-button-active);
        svg {
            fill: var(--icon-sidebar-action-button-active);
        }
    }
}

// Remove msg
.sidebar_removeMsg {
    margin-top: 12px;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-clear-button);
    border-radius: 12px;
    border: 1px solid var(--border-clear-button);
    svg {
        width: 20px;
        height: 20px;
        fill: var(--icon-clear-button);
    }
    &:hover {
        background-color: var(--bg-clear-button-hover);
        border-color: var(--border-clear-button-hover);
        svg {
            fill: var(--icon-clear-button-hover);
        }
    }
}

@media screen and (max-width: 1660px) {
    .sidebar {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .sidebar_playground {
        // padding-bottom: 36px;
    }
}
