.sidebar {
    width: 76px;
    padding: 75px 18px 42px;
    // overflow: auto;

    display: flex;
    flex-direction: column;

    height: 100%;
    background-color: var(--bg-general);
    &::-webkit-scrollbar {
        display: none;
    }
}
.sidebar_playground {
    // overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}
// Profile
.sidebar_profile {
    margin-top: 16px;
    padding-top: 20px;
    border-top: 1px solid var(--divider-var-1);
}
.sidebar_profile_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

// Theme
.sidebar_theme {
    margin-top: 18px;
}

// Menu
.sidebar_controls {
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid var(--divider-var-1);

    overflow-y: auto;
    height: 0;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    gap: 12px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.sidebar_controls_group {
    display: flex;
    flex-direction: column;

    + .sidebar_controls_group {
        padding-top: 12px;
        border-top: 1px solid var(--divider-var-1);
    }
}

.sidebar_controls_btn.active svg {
    fill: #6a6a6a;
}

.sidebar_controls_btn {
    width: 40px;
    height: 40px;
    color: #b5b5b5;
    display: flex;
    justify-content: center;

    img {
        width: 20px;
        height: 20px;
        object-fit: contain;
        object-position: center;
    }

    svg {
        width: 20px;
        height: 20px;
        fill: var(--icon-var-1);
    }
    &:hover {
        background-color: var(--bg-var-1);
        svg {
            fill: var(--icon-var-2);
        }
    }
    &[data-active="true"] {
        background-color: var(--bg-var-2);
        svg {
            fill: var(--icon-var-3);
        }
    }
}

// Remove msg
.sidebar_removeMsg {
    margin-top: 12px;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid var(--border-var-1);
    svg {
        width: 20px;
        height: 20px;
        fill: var(--icon-var-4);
    }
    &:hover {
        background-color: var(--bg-var-3);
        border-color: var(--border-var-2);
        svg {
            fill: var(--icon-var-4);
        }
    }
}

@media screen and (max-width: 1660px) {
    .sidebar {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .sidebar_playground {
        // padding-bottom: 36px;
    }
}
