.fileTitle {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgba(2, 0, 1, 0.35), rgb(177, 56, 94));
    backdrop-filter: blur(20px);
    border-radius: 1000px;
    border: 1px solid rgba(31, 31, 31, 0.05);
    padding: 12px;
}

.title {
    max-width: 115px;
    color: #f8f8f8;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ext {
    color: #f8f8f8;
}
