.fileTitle {
    position: absolute;
    padding: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 156px;
    height: 36px;
    background: radial-gradient(92.63% 98.61% at 50% 50%, rgba(0, 0, 0, 0.35) 0%, #cb6484 100%);
    font-size: 16px;
    gap: 0;
    font-weight: 400;
    font-family: "Sohne";
    color: #f8f8f8;
    border-radius: 17px;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: 0px 4px 20px 0px #0000000f;
    backdrop-filter: blur(20px);
    z-index: 10000;
}

.title {
    max-width: 115px;
    color: #f8f8f8;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ext {
    color: #f8f8f8;
}
