.chip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 58px;
}

.magicButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(#1f1f1f, 0.05);
    background: var(--bg-gradient-var-9);
    margin: 0 auto;
    svg path {
        fill: var(--var-86);
    }
}
