.translatedTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12px 20px;
    background-color: var(--var-182);
    border-radius: 12px;
    font-family: Sohne;
    color: var(--var-107);
}

.imageText {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .setFontSohneBuch(16px);
}
