// Gaia widget
.gaia {
}

.gaiaEnter {}
.gaiaEnterActive {}
.gaiaExit {}
.gaiaExitActive {}
.children-main-layout {
  transition: width 500ms ease, transform 500ms ease !important;
  max-height: 0;
  width: 0;
  overflow: hidden;
}
.children-main-layout-active {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  display: block;
}