.chartbutton {
    background: var(--var-60);
    width: 120px;
    height: 98px;
    border-radius: 12px;
    border: 1px solid var(--var-21);
    padding-top: 12px;
    padding-bottom: 12px;

    box-shadow:
        0 0 0 0px var(--var-57),
        0 0 0 0px var(--var-21);
    transition: 0.3s;
    &:hover {
        box-shadow:
            0 0 0 3px var(--var-57),
            0 0 0 5px var(--var-21);
        border-color: var(--var-197);
        background: var(--var-11);
    }
    .chartbutton_image {
        width: 100%;
        height: 84px;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }
    p {
        color: var(--var-97);
        padding-left: 12px;
        font-size: 14px;
        font-family: "Sohne";
        font-weight: 600;
        display: inline-block;
        max-width: 13ch; /* Limits to 13 characters */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:hover {
        p {
            color: var(--var-7);
        }
    }
}
