.va {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    padding: 40px 40px;
    background: var(--bg-var-61);
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.line-message-chart {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    padding: 40px 40px;
    background: var(--bg-var-61);
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.column-message-chart-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

.line-chart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    min-width: 80%;
    max-width: 100%;
    gap: 10px;
}

.line-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: 100%;
    background: var(--bg-var-62);
    border: 2px solid var(--border-var-17);
}

.info-container {
    width: 150px;
    height: 410px;
    min-height: 100%;
    padding: 35px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    background: var(--bg-var-62);
    border: 2px solid var(--border-var-17);
    font-weight: 500;
    font-size: 18px;
}
.yAxis text {
    fill: var(--text-var-9);
}
.xAxis text {
    fill: var(--text-var-4);
}

.selected-data {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-var-12);
}

.selected-data-item {
    font-size: 16px;
    font-weight: 600;
    color: #1f1f1f;
    margin: 0;
    padding: 0;
}

.line-chart-container {
    flex: 1;
    height: 400px;
}

.selected-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.selected-details-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: 18px;
}

.line {
    display: inline-block;
    width: 110px;
    border-bottom: 1px dashed var(--border-var-8);
}
