.edit-mode {
    background-color: transparent;
    //border
    border-radius: 4px;

    padding: 10px;
    width: 320px;
    display: flex;
}

.edit-input {
    width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: var(--var-7);
}
.commentmenu {
    padding-left: 10px;
    padding-right: 10px;
}
