.chartpreview {
    width: 517px;
    height: 332px;
    border-radius: 12px;
    background: var(--var-57);
    padding: 12px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.previewHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.previewtitle {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;
    font-family: "Sohne";
    font-weight: 600;
    color: var(--var-123);
}

.previewClose {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--var-19);
    width: 24px;
    height: 24px;
    border: 1px solid var(--var-68);
    border-radius: 100%;
    backdrop-filter: blur(15px);
    cursor: pointer;
    position: relative;
    right: -18px;
    top: -18px;
}

.previewBody {
    background: var(--var-58);
    border: 2px solid var(--var-60);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 304px;
    border-radius: 12px;
}
