.open-from-saved-playground-button {
    min-width: 30px;
    width: auto;
    max-width: 950px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    gap: 4px;
    flex-grow: 1;
    svg path {
        fill: var(--var-85);
    }
}
.open-from-saved-playground-name {
    flex-grow: 1;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: var(--var-48);
    mask-image: linear-gradient(90deg, rgb(181, 181, 181) 1.76%, rgba(181, 181, 181, 0.1) 91.82%);
    max-width: 150px;
}
.open-from-saved-playground-button-active {
    background: var(--var-45);
    min-width: fit-content;
    width: auto;
    max-width: none;
    flex-grow: 1;
    color: var(--var-86);
    svg path {
        fill: var(--var-86);
    }
    .open-from-saved-playground-name {
        color: var(--var-86);
        white-space: nowrap;
        -webkit-mask-image: none;
        mask-image: none;
    }
}
