.translationBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.buttonsWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    padding-top: 12px;
}

.volumeIcon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 100%;
}

.translateIconWrapper {
    display: flex;
    justify-content: space-between;
}

.rotateButton {
    display: flex;
    justify-content: flex-end;
}

.translatedTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12px 20px;
    background-color: #f5f0ff;
    border-radius: 12px;
    font-family: Sohne;
    color: #1f1f1f;
}

.lastSentenceTranslated {
    color: #d2bcff;
}

.bottomText {
    color: #8243ff;
}

.inline {
    display: inline;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.translateIcon {
    width: 43px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 6px;
}
