.page {
    background-color: #fff;
    padding: 16px;
    margin-right: 5px;
}

.page:not(:first-child) {
    margin: 10px 0;
}

.document {
    margin: 0 auto;
    overflow: hidden;
}

.viewerModal {
    width: 35vw;
    height: 70vh;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 100%;
}
