.decrease-playground-button {
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    border: 1px solid var(--var-76);
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    svg path {
        fill: var(--var-85);
    }
}
.decrease-playground-active-button {
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--var-50);
}
