.sidebar_menu {
  .menu_actions_section_name {
    display: none;
  }

  .menu_actions_section_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sidebar_menu_action_container {
      padding-top: 2px;
      padding-left: 3px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 40px;
      width: 40px;
      color: #B5B5B5;
      background-color: transparent;
      transition: color 0.3s ease-out, background-color 0.3s ease-out;

      &:hover {
        color: #5B5B5B;
        background-color: #B5B5B533;
      }

      &[data-active="true"] {
        background-color: #B5B5B533;
        color: #1F1F1F;
      }

      .sidebar_menu_action_btn {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

      .sidebar_menu_action_btn_tooltip {
        display: none;
      }
    }
  }
}

.sidebar_open_menu {
  padding-right: 25px;

  .menu_actions_section_name {
    padding-bottom: 5px;
    padding-right: 6px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #CFCFCF;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;

    &:hover {
      color: #1F1F1F;
    }

    .show_actions_btn {
      padding-bottom: 3px;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      font-size: 20px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      color: #DDDDDD;
      background-color: transparent;
      transition: background-color 0.3s ease-out, color 0.3s ease-out;

      &:hover {
        color: #1F1F1F!important;
        background-color: rgba(220, 220, 220, 0.68);
      }
    }
  }

  .menu_actions_section_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    .chats_container {
      width: 100%;
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      .chats {
        color: #CFCFCF;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .all_tags_panel {
        position: absolute;
        display: flex;
        background-color: rgba(237, 237, 237, 0.82);
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 7px;
        padding-left: 15px;
        border-radius: 9px;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.09);
        backdrop-filter: blur(20px);
        width: 181px;
        height: 370px;
        gap: 5px;

        .assigning_tags {
          display: flex;
          flex-direction: row;
          align-content: center;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          gap: 10px;
          padding-top: 7px;
          color: #CFCFCF;
          font-size: 14px;
          font-weight: 500;
        }

        .tags_input {
          height: 27px;
          border-radius: 4px;
          width: 100%;
          color: #a30c0c;
        }

        .selected_tag_item {
          color: #1F1F1F !important;
          background: rgba(202, 202, 202, 0.4) !important;
        }

        .tag_item {
          position: relative;
          background: transparent;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: flex-start;
          flex-direction: row;
          gap: 10px;
          width: fit-content;
          max-width: 150px;
          font-size: 14px;
          font-weight: 500;
          color: #B5B5B5;
          cursor: pointer;
          height: 27px;
          border-radius: 8px;
          padding: 5px;
          border: 1px solid transparent;
          transition: border 0.3s ease,
                      background 0.3s ease,
                      color 0.3s ease;

          &:hover {
            border: 1px solid #bdbdbd;
            background: rgba(209, 209, 209, 0.34);
            color: #1F1F1F;
            max-width: 110px;

            .edit_tag_name_btn {
              opacity: 1;
              pointer-events: auto;
              transform: translateX(0);
            }
          }

          .chat_tag {
            min-width: 16px;
            height: 16px;
            border-radius: 50%;
            cursor: pointer;
            pointer-events: auto;
            border: 1px solid #ededed;
          }

          .edit_tag_name_btn {
            opacity: 0;
            pointer-events: none;
            max-width: 20px;
            max-height: 20px;
            min-width: 20px;
            min-height: 20px;
            border-radius: 4px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            background: rgba(205, 205, 205, 0.47);
            transform: translateX(-20px);
            transition: opacity 0.2s ease, transform 0.2s ease;

            svg path {
              fill: #5B5B5B;
            }
          }
        }
      }

      .tag_panel {
        position: absolute;
        display: flex;
        margin-left: 9px;
        background-color: rgba(237, 237, 237, 0.82);
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        padding: 7px;
        border-radius: 9px;
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.09);
        backdrop-filter: blur(20px);
        width: 110px;
        height: 32px;
        gap: 5px;

        .chat_tag {
          min-width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #F0A;
          cursor: pointer;
          pointer-events: auto;
          border: 1px solid #ededed;
        }

        .current_chat_tag {
          border: 1px solid #7c7c7c !important;
        }

        .three_dots {
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
      .chat_item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin-left: 7px;
        padding: 4px 8px;
        border-radius: 12px;
        margin-bottom: 2px;
        height: 40px;
        width: 229px;
        background-color: transparent;
        color: #B5B5B5;
        border: 2px solid transparent;
        transition:
                background-color 0.3s ease-out,
                color 0.3s ease-out,
                border 0.3s ease-out;

        &:hover {
          background-color: rgba(181, 181, 181, 0.09);
          color: #5B5B5B;
          border: 2px solid #B5B5B533;
        }

        &[data-active="true"] {
          background-color: #B5B5B533;
          color: #1F1F1F;
        }

        .chat_item_tag_and_name {
          display: flex;
          align-items: center;
          align-content: center;
          flex-direction: row;

          .tags_wrapper {
            position: relative;
            width: 16px;
            display: inline-flex;
            align-items: center;
            transition: width 0.2s ease;

            &[data-count="2"] { width: 24px; }
            &[data-count="3"] { width: 32px; }

            .chat_tag {
              position: absolute;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              margin-right: 8px;
              cursor: pointer;
              pointer-events: auto;
              border: 1px solid #ededed;
              transition: left 0.2s ease;

              &:nth-child(1) { left: 0; z-index: 15}
              &:nth-child(2) { left: 8px; z-index: 10}
              &:nth-child(3) { left: 16px; z-index: 5 }
              &:nth-child(n+4) { display: none; }
            }
          }

          .chat_name {
            margin-left: 8px;
            font-size: 14px;
            font-weight: 500;
            color: #1F1F1F;
          }

          .chat_notifications_count {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin-left: 12px;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            background-color: #9747FF33;
            color: #9747FF;
          }
        }



        .chat_tools {
          display: flex;
          align-content: center;
          align-items: center;
          flex-direction: row;
          gap: 15px;
          font-size: 20px;

          .show_more_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            border-radius: 4px;
            font-size: 20px !important;
            cursor: pointer;
            padding-bottom: 3px;
            background-color: transparent;
            width: 20px;
            height: 20px;
            color: #8D8D8D;
            transition: background-color 0.3s ease-out;

            &[data-active="true"] {
              background-color: #FFFFFF;
              color: #8D8D8D;
            }

            &:hover {
              background-color: #FFFFFF;
            }
          }

        }


      }

      .branches_list_container {
        padding: 7px;
        color: #CFCFCF;
        font-size: 14px;
        font-weight: 500;
        .branches_list {
          margin-left: 24px;
          margin-top: 4px;
          display: flex;
          flex-direction: column;

          .branch_item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            font-size: 14px;
            padding: 2px 8px;
            cursor: pointer;
            transition:
                    background-color 0.3s ease-out,
                    color 0.3s ease-out;
            border-radius: 8px;
            margin-top: 2px;
            color: #B5B5B5;
            width: 203px;
            height: 40px;

            &:hover {
              background-color: rgba(181, 181, 181, 0.09);
              color: #1F1F1F;
            }

            &:hover .branch_three_dots {
              opacity: 1;
            }

            .branch_icon_and_name {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              align-content: center;
              gap: 5px;

              .branch_name {
                display: inline-block;
                max-width: 15ch;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .branch_three_dots {
              opacity: 0;
              width: 40px;
              height: 40px;
              display: flex;
              align-content: center;
              align-items: center;
              justify-content: center;
              transition: opacity 0.3s ease;
            }
          }
        }
      }

    }

    .sidebar_search_input_container {
      padding-left: 5px;
      padding-right: 5px;
      width: 100%;
      border-radius: 12px;
      height: 40px;
      border: 2px solid #8D8D8D;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      background-color: transparent;
      color: #1F1F1F;
      font-weight: 500;

      .sidebar_search_input {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        padding-right: 7px;

        .search_input {
          &::placeholder {
            color: #DDDDDD;
            font-weight: 500;
          }
        }
      }
    }

    .sidebar_menu_action_container {
      padding-right: 5px;
      border-radius: 12px;
      width: 100%;
      height: 40px;
      border: 2px solid transparent;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      background-color: transparent;
      color: #B5B5B5;
      transition:
              background-color 0.3s ease-out,
              color 0.3s ease-out,
              border 0.3s ease-out;

      &:hover {
        background-color: rgba(181, 181, 181, 0.09);
        color: #5B5B5B;
        border: 2px solid #B5B5B533;
      }

      &[data-active="true"] {
        background-color: #B5B5B533;
        color: #1F1F1F;
      }

      .sidebar_menu_action_btn {
        width: 20px;
        height: 20px;
        cursor: pointer;
        padding-left: 5px;
        padding-top: 3px;
      }

      .sidebar_menu_action_btn_tooltip {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        font-size: 14px;
        font-weight: 500;

        .show_more_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          align-content: center;
          border-radius: 4px;
          font-size: 20px !important;
          cursor: pointer;
          padding-right: 1px;
          padding-bottom: 3px;
          background-color: transparent;
          width: 20px;
          height: 20px;
          transition: background-color 0.3s ease-out;

          &:hover {
            background-color: #FFFFFF;
          }
        }
      }


    }

    .favourites_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      gap: 7px;
      width: 100%;


      .favourite_item {
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        height: 40px;
        padding: 7px;
        border-radius: 8px;
        font-weight: 400;
        font-size: 14px;
        color: #1F1F1F;
        cursor: pointer;
        background: transparent;
        transition: background 0.3s ease;

        &:hover {
          background: rgba(202, 202, 202, 0.4);
        }

        .three_dots {
          display: flex;
          align-content: center;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          margin-left: 50px;
        }

        .user_or_code_icon {
          display: flex;
          align-content: center;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          border-radius: 4px;
          background: rgba(202, 202, 202, 0.4);
        }
      }

    }

    .tags_container {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      .tag_item {
        position: relative;
        background: transparent;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 10px;
        width: fit-content;
        max-width: 150px;
        font-size: 14px;
        font-weight: 500;
        color: #B5B5B5;
        cursor: pointer;
        height: 27px;
        border-radius: 8px;
        padding: 5px;
        border: 1px solid transparent;
        transition: border 0.3s ease,
        background 0.3s ease,
        color 0.3s ease;
      }
    }
  }


}

:global(.branchMenu-enter) {
  opacity: 0;
  transform: translateY(-8px);
}

:global(.branchMenu-enter-active) {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms ease, transform 200ms ease;
}

:global(.branchMenu-exit) {
  opacity: 1;
}

:global(.branchMenu-exit-active) {
  opacity: 0;
  transform: translateY(-8px);
  transition: opacity 200ms ease, transform 200ms ease;
}