.zoom {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 100px;
    background: rgba(31, 31, 31, 0.65);
    backdrop-filter: blur(16px);
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.icon {
    path {
        fill: var(--var-98);
    }
}
