.recordingPlayer {
    display: flex;
    gap: 12px;
    padding: 12px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(#000, 0.06);
}

.actions {
    display: flex;
    gap: 12px;
}

.playIcon {
    margin-left: 2px;
}

.button {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd1d2;
    border-radius: 100%;
}
