.magicButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(#1f1f1f, 0.05);
    background: linear-gradient(to bottom, #d7d7d7 0%, #fff 100%);
    margin: 0 auto;
}

.recording {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
}

.recordingText {
    background-color: #fef1f0;
    border-radius: 12px;
    padding: 26px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .setFontSohneBuch();

    ul {
        padding-bottom: 20px;
        padding-left: 25px;
    }

    li {
        list-style-type: disc;
    }
}

.bold {
    .setFontSohneKraftig();
}

.speaker {
    text-align: end;
}

.colored {
    color: #f64646;
    padding-left: 20px;
}

.blured {
    color: #e5c6c6;
}
