.magicButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(#1f1f1f, 0.05);
    background: var(--bg-gradient-var-9);
    margin: 0 auto;
    svg path {
        fill: var(--var-86);
    }
}

.recording {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
}

.recordingText {
    background-color: var(--var-187);
    border-radius: 12px;
    padding: 26px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .setFontSohneBuch();
    color: var(--var-7);

    ul {
        padding-bottom: 20px;
        padding-left: 25px;
    }

    li {
        list-style-type: disc;
    }
}

.bold {
    .setFontSohneKraftig();
}

.speaker {
    text-align: end;
}

.colored {
    color: #f64646;
    padding-left: 20px;
}

.blured {
    color: var(--var-188);
}
