.createFolder {
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: rgb(248, 248, 248);
    border: 1px dashed rgb(221, 221, 221);
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease;
    height: 85px;
    p {
        color: rgb(221, 221, 221);
        font-family: "Sohne", sans-serif;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 19px;
    }
}
