.modalAddChartWidget {
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -216.58px;
  
  width: 427.62px;
  height: 159.91px;
  top: calc(50% + 180px);
  margin-top: -95.95px;
  
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10.8px;
  border: solid 1px white;
  padding: 9.32px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 9.32px;
  
  box-shadow: 0px 6.21px 15.53px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(46.58px);
}


.modalHead {
  cursor: grab;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5b5b5b;
  font-weight: 700;
}

.modalHead p {
  font-size: 12.42px;
  font-family: "Sohne";
  font-weight: 600;
}

.modalHead .closeBtn {
  background: none;
  border: none;

  cursor: pointer;
  width: 18.63px;
  height: 18.63px;
}

.modalHead .closeBtn img {
  width: 18.63px;
  height: 18.63px;
}

.modalAddChartWidget_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addWidget {
  cursor: pointer;
  width: 205.70px;

  height: 117.22px;
  border-radius: 10.8px;
  border: solid 1px #f1f1f1;
  background-image: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 11.65px;

}

.addWidget:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255));
}

.addWidget .dottedbg,
.addWidget .linebg {
  background: url("/img/dots.svg") no-repeat;

  width: 172.33px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6.21px;
}


.addWidget .linebg {
  background: url("/img/Grid.svg") no-repeat;
}

.addWidget .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.21px;

  height: 58.22px;
}

.addWidget p {

  font-size: 10.87px;
  color: #5b5b5b;
  font-family: "Sohne";
  font-weight: 600;

}

.addWidget button {
  width: 33.37px;

  height: 33.37px;
  background: #fff;
  border: solid 1px #f1f1f1;
  border-radius: 9.68px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addWidget button div {
  width: 18.63px;
  height: 18.63px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 6.3px;
  box-shadow: 0px 2.77px 5.55px rgba(0, 0, 0, 0.12);
}