body.dark .modalAddChartWidget .addWidget .dottedbg::after {
    opacity: 0.2;
}
.modalAddChartWidget {
    position: absolute;
    z-index: 100;
    left: 50%;
    margin-left: -279.5px;
    width: 559px;
    height: 206px;
    top: 50%;
    margin-top: -103px;
    background: var(--var-46);
    border-radius: 12px;
    border: solid 1px var(--var-75);
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(60px);
    .modalHead {
        cursor: grab;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--var-123);
        font-weight: 700;
        p {
            font-size: 16px;
            font-family: "Sohne";
            font-weight: 600;
        }
        .closeBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--var-19);
            border: 1px solid var(--var-68);
            border-radius: 50%;
            cursor: pointer;
            width: 24px;
            height: 24px;
            svg path {
                stroke: var(--var-146);
            }
        }
    }
    .modalAddChartWidget_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .addWidget {
            cursor: pointer;
            width: 265px;
            height: 151px;
            border-radius: 12px;
            border: solid 1px var(--var-197);
            background: var(--var-198);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 15px;
            transition: 0.3s;
            &:hover {
                background: var(--var-1);
                p {
                    color: var(--var-7);
                }
            }
            .dottedbg {
                position: relative;
                width: 222px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 8px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url("/img/dots.svg") no-repeat;
                    opacity: 1;
                    z-index: -1;
                }
            }
            .linebg {
                background: url("/img/Grid.svg") no-repeat;
                width: 222px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 8px;
            }
            .flex {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                height: 75px;
            }
            p {
                font-size: 14px;
                color: var(--var-97);
                font-family: "Sohne";
                font-weight: 600;
                transition: 0.3s;
            }
            button {
                width: 43px;
                height: 43px;
                background: var(--bg-general);
                border: solid 1px var(--var-21);
                border-radius: 10.75px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                padding: 5px;
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #fff;
                    border-radius: 7px;
                    box-shadow: 0px 3.58px 7.17px rgba(0, 0, 0, 0.12);
                }
            }
        }
    }
}
