.modalAddChartWidget {
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -240.64px;
  width: 475.13px;
  height: 177.68px;
  top:  calc(50% + 200px);
  margin-top: -106.61px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  border: solid 1px white;
  padding: 10.35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10.35px;
  box-shadow: 0px 6.9px 17.25px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(51.75px);
}

.modalHead {
  cursor: grab;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5b5b5b;
  font-weight: 700;
}

.modalHead p {
  font-size: 13.8px;
  font-family: "Sohne";
  font-weight: 600;
}

.modalHead .closeBtn {
  background: none;
  border: none;
  cursor: pointer;
  width: 20.7px;
  height: 20.7px;
}

.modalHead .closeBtn img {
  width: 20.7px;
  height: 20.7px;
}

.modalAddChartWidget_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addWidget {
  cursor: pointer;
  width: 228.56px;
  height: 130.24px;
  border-radius: 12px;
  border: solid 1px #f1f1f1;
  background-image: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12.94px;
}

.addWidget:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255));
}

.addWidget .dottedbg {
  background: url("/img/dots.svg") no-repeat;
  width: 191.48px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6.9px;
}

.addWidget .linebg {
  background: url("/img/Grid.svg") no-repeat;
  width: 191.48px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6.9px;
}

.addWidget .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.9px;
  height: 64.69px;
}

.addWidget p {
  font-size: 12.08px;
  color: #5b5b5b;
  font-family: "Sohne";
  font-weight: 600;
}

.addWidget button {
  width: 37.08px;
  height: 37.08px;
  background: #fff;
  border: solid 1px #f1f1f1;
  border-radius: 10.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.addWidget button div {
  width: 20.7px;
  height: 20.7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0px 3.08px 6.17px rgba(0, 0, 0, 0.12);
}
