.chartscreated {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    &::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 110px;
        top: 0;
        right: 0;
        background-image: var(--bg-gradient-var-13);
    }
    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(221, 221, 221);
        border-radius: 10px;
    }
}

.chartscreated_inner {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7px;
    width: 200%;
    padding-bottom: 8px;
}
