.playground-action-container {
    width: 451px;
    height: min-content;
    border-radius: 20px;
    padding: 8px;
    gap: 6px;
    background: var(--bg-var-55);
    border: 1px solid var(--border-var-29);
    backdrop-filter: blur(4px);
    max-width: 451px;
}
.playground-action-content {
    width: 100%;
    height: min-content;
    border-radius: 12px;
    // background: #f8f8f8;
    border: 1px solid var(--border-var-21);
}
.playground-action-container-fullscreen {
    width: 100%;
    cursor: grab;
    z-index: 10000000;
    position: absolute;
}
.actions {
    position: absolute;
    right: 21px;
    bottom: 15px;
    width: min-content;
    height: min-content;
    display: flex;
    gap: 4px;
}
.prompt-button {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prompt-button-close {
    border: 1px solid var(--border-var-1);
    box-shadow: 0px 2px 15px 0px #0000000d;
    svg {
        fill: var(--icon-var-2);
    }
}
.prompt-button-send {
    background: var(--bg-var-7);
    svg path {
        fill: var(--icon-var-24);
    }
}
