.message-text{
  font-family: Söhne;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: rgba(31, 31, 31, 1);
}

.example-table-massage {
  padding:25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: rgba(255, 255, 255, 1);

  border-radius: 16px;
}
.example-table-massage-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 20px;
}
.example-table-massage-logo {
  max-width: 48px;
  max-height: 48px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  border-image-source: linear-gradient(161.57deg, #FFE4C8 12.5%, #FFFFFF 95.83%);
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 100%);
  box-shadow: 1px 3px 12px 1px #FFE4C8;

}