.files_slide {
    white-space: nowrap;
}

.files {
    padding-top: 10px;
    display: flex;
    gap: 8px;
    overflow: auto;
    user-select: none;
}
.scrollStart {
  mask-image: linear-gradient(to right, black 5%, black 95%, transparent);
}
.scrollMiddle {
  mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

.scrollEnd {
  mask-image: linear-gradient(to right, transparent, black 5%, black 95%);
}