.text-format-container {
    width: 100%;
    max-width: fit-content;
    display: flex;
    gap: 5px;
    flex-direction: row;
    border: 1px solid var(--border-var-10);
    background: var(--bg-general);
    box-shadow: 0px 0px 12px 0px #0000000d;
    border-radius: 12px;
    position: fixed;
    padding: 6px;
    svg path {
        fill: var(--icon-var-1);
    }
}
.button-paint {
    box-sizing: border-box;
    width: 100%;
    max-width: fit-content;
    min-width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(91, 91, 91, 1);
    margin: 0;
}

.button {
    box-sizing: border-box;
    width: 100%;
    max-width: fit-content;
    min-width: 30px;
    height: 100%;
    max-height: fit-content;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
    border: none;
    background-color: var(--bg-general);
    margin: 0;
    &:hover {
        background-color: var(--bg-var-13) !important;
        svg path {
            fill: var(--icon-var-2);
        }
    }
}
.button-active {
    border: 1px solid var(--border-var-28);
    background: var(--bg-var-2);
    padding: 0;
    min-width: 30px;
    height: 100%;
    max-height: fit-content;
    min-height: 30px;
    svg path {
        fill: var(--icon-var-2);
    }
    &:hover {
        background: var(--bg-var-2) !important;
        border: 1px solid var(--border-var-28) !important;
    }
}
.editable-text {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 40px;
    margin-top: 10px;
    outline: none;
}

.editable-text:focus {
    border-color: #007bff;
    box-shadow: 0 0 3px #007bff;
}
