.code-playground {
    background-color: var(--bg-var-43);
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .editor-section {
        flex: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
    }

    .editor-wrapper {
        flex: 1;
        min-height: 0;
    }

    .action-buttons {
        margin-top: auto;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 8px;
        position: sticky;
        width: 100%;
        height: 0;
        z-index: 1000;
        bottom: 24px;

        opacity: 1;
        transform: translateY(10px);
        transition:
            opacity 0.3s ease-out,
            transform 0.3s ease-out;

        &.visible {
            opacity: 1;
            transform: translateY(0);
        }

        .action-buttons-right-part {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        .ant-btn {
            padding: 2px;
            margin: 0;
            height: 36px;
            width: 36px;
            transition:
                transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
        }
        button {
            transition: width 500ms;
            animation: fadeIn 0.45s ease-out forwards;
        }
    }
}
.tiptap-editor {
    outline: none;
    border: none;
    padding: 24px;
    padding-top: 16px;
    font-family: "Söhne", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0;
    background: inherit;
    color: var(--text-var-1);
    caret-color: var(--color-purple-500);

    &::selection {
        background-color: var(--bg-var-29) !important;
        color: var(--text-var-1) !important;
    }
}
.tiptap {
    outline: none;
    border: none;
}

.tabs-panel-playground {
    border-radius: 16px 16px 0 0;
    background: transparent;
    color: var(--text-var-4);
    margin: 0;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;
    padding-right: 24px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
::selection {
    background-color: var(--bg-var-29) !important;
}
.tiptap-editor,
.tiptap,
.table-playground,
.tiptap-editor * {
    &::selection {
        background-color: var(--bg-var-29) !important;
    }
}
