.setFontSohneBuch(
  @fontSize: 16px,
  @leading: 1.25,
  @letterSpacing: normal
) {
    font: 500 @fontSize / @leading var(--font-sohne);
    letter-spacing: @letterSpacing;
}

.messageNodeSelectorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--var-68);
    border-radius: 20px;
    padding: 5px 10px;
    .setFontSohneBuch(16px, 1.4, normal);
    font-weight: 400;
    font-size: 12px;
    color: var(--var-86);
    background: inherit;
    min-width: 80px;
    max-width: fit-content;
    height: 32px;
    transition: box-shadow 0.3s ease-in-out;
    margin-right: 11px;

    &:hover {
        box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.05);
        background-color: var(--var-11);
        color: var(--var-7);
        border-color: transparent;
    }
}

.messageNodeButton {
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    color: var(--var-86);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--var-7);
    }

    &:active {
        color: rgba(0, 0, 0, 1);
    }
}

.messageNodeButton:disabled {
    color: var(--var-61);
    cursor: default;

    &:hover {
        color: var(--var-61);
    }
}

.versionText {
    min-width: 40px;
    text-align: center;
}
