.audioRecorder {
    width: 852px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(#000, 0.06);
}

.playRecord {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actions {
    display: flex;
    gap: 4px;
}

.actionButton {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd1d2;
    border-radius: 100%;
}

.actionButtonStopped {
    background-color: #1f1f1f;

    path {
        fill: #ffffff;
    }
}

.waveform {
    width: 720px;
    height: 30px;
}

.audioPlayer {
    width: 720px;
    height: 30px;
}

.audioElement {
    width: 100%;
    max-width: 400px;
    outline: none;
}

.playIcon {
    margin-left: 2px;
}

.timer {
    width: 30px;
    .setFontSohneBuch(12px);
    color: #ff474a;
}

.timerStopped {
    color: #1f1f1f;
}
