.table-playground-button {
    margin-bottom: 15px;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 35px;
    font-family: Sohne;
    font-weight: 500;
    font-size: 14px;
    line-height: 18.56px;
    gap: 4px;
    background: var(--var-36);
    color: var(--var-108);
    border: 2px solid transparent;
    svg path {
        fill: var(--var-99);
    }
}
.table-playground-button-active {
    border-color: var(--var-61);
    color: var(--var-121);
    svg path {
        fill: var(--var-86);
    }
}
