.table-playground-button {
  margin-bottom: 15px;
  border: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 35px;
  font-family: Sohne;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.56px;
  gap: 4px;
  background: none;
  color: #8D8D8D;
}
.table-playground-button-active {
  background: #F8F8F8;
  border: 2px solid #DDDDDD;
  color: #5B5B5B;
  font-weight: 600;
}
