.table-playground-button {
    margin-bottom: 15px;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 35px;
    font-family: Sohne;
    font-weight: 500;
    font-size: 14px;
    line-height: 18.56px;
    gap: 4px;
    background: var(--bg-var-39);
    color: var(--text-var-3);
    border: 2px solid transparent;
    svg {
        fill: var(--icon-var-19);
    }
}
.table-playground-button-active {
    border-color: var(--border-var-1);
    color: var(--text-var-21);
    svg {
        fill: var(--icon-var-2);
    }
}
