.filterBoxContainer {
    background: var(--bg-general);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    width: 130px;
    height: 130px;
    border: 1px solid var(--var-1);
    border-radius: 12px;
    padding: 5px;

    button {
        background: none;
        border-radius: 12px;
        border: 1px solid transparent;
        color: var(--var-116);
        font-size: 14px !important;
        width: 100% !important;
        height: 40px !important;
        display: flex;
        align-items: center;
        justify-content: start !important;
        padding-left: 10px;
        cursor: pointer;
        font-family: "Sohne";
        font-weight: 600;
        &:hover {
            background: var(--var-2);
            border: 1px solid var(--var-74);
            color: var(--var-7);
        }
    }
}
