.appIntegrationItem {
    &__header {
        &__container {
            display: flex;
            align-items: center;
            gap: 6px;
        }
        &__icon {
            width: 20px;
            height: 20px;
        }
        &__title {
            padding-top: 1px;
            color: rgb(91, 91, 91);
            font-family: "Sohne", sans-serif;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 1.19rem;
        }
        &__disconnect {
            margin-left: auto;
            padding: 4px 11px 5px;
        }
    }
    &__description {
        margin-top: 8px;
        color: rgb(91, 91, 91);
        font-family: "Sohne", sans-serif;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.19rem;
    }
}
