.individual_chats_actions_container {
    position: absolute;
    width: 114px;
    height: 132px;
    padding: 6px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background: var(--bg-general);
    z-index: 1000;
    box-sizing: border-box;
    border: 1px solid var(--var-1);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);

    .individual_chats_action {
        padding-right: 3px;
        border: 1px solid transparent;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        font-size: 14px;
        font-weight: 500;
        gap: 3px;
        border-radius: 12px;
        width: 102px;
        height: 40px;
        color: #b5b5b5;
        cursor: pointer;
        background: transparent;
        transition:
            background 0.3s ease-out,
            color 0.3s ease-out,
            border 0.3s ease-out;

        &:hover {
            color: var(--var-7) !important;
            background: var(--var-2);
            border: 1px solid var(--var-69);
            svg path {
                fill: var(--var-86);
            }
        }

        .pen_icon {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: 20px;
            height: 20px;
        }

        .open_chat_icon {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: 20px;
            height: 20px;
        }

        .individual_chats_actions_container_delete_icon {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            width: 20px;
            height: 20px;
        }
    }

    .delete {
        color: #b5b5b5;
        background: transparent;
        transition:
            background 0.3s ease-out,
            color 0.3s ease-out,
            border 0.3s ease-out;
        border: 1px solid transparent;

        &:hover {
            background-color: #ff5f5f4d !important;
            color: #ff5f5f !important;
            border: 1px solid #ff5f5f !important;
            svg path {
                fill: #ff5f5f;
            }
        }
    }
}
