.pen-button {
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    border: 1px solid var(--var-79);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: transparent;
    svg path {
        fill: var(--var-92);
    }
}
.pen-button-active {
    background: var(--var-16);
    border: 1px solid transparent;
}
