.magic {
    position: relative;
}

.magic_btn {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    flex-shrink: 0;
    top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--bg-magic-button);
    box-shadow: 0px 3px 12px 0px rgba(31, 31, 31, 0.05);

    svg {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        fill: var(--var-86);
    }
}

.menu {
    width: 224px;
    padding: 6px;
    border-radius: 16px;
    position: absolute;
    left: 0;
    bottom: 100%;
    transform: translateY(-20px);

    background: var(--var-10);
    border: 1px solid var(--var-68);

    backdrop-filter: blur(80px);
    box-shadow: 0 0 12px rgba(#000, 5%);
    z-index: 5;
}

.enter {
    opacity: 0;
    transform: translateY(10px);
}
.enterActive {
    opacity: 1;
    transform: translateY(-20px);
    transition: 300ms ease;
    transition-property: transform, opacity;
}

.exit {
    opacity: 1;
    transform: translateY(-20px);
}
.exitActive {
    opacity: 0;
    transform: translateY(-50px);
    transition: 300ms ease;
    transition-property: transform, opacity;
}

.magic_button_call_container {
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid transparent;
    width: 100%;
    gap: 6px;
    font: 500 14px / 1.1 var(--font-sohne);
    letter-spacing: normal;
    color: var(--var-108);
    transition: 200ms ease;
    transition-property: border, background, color;
    cursor: pointer;

    &:hover {
        background: var(--var-2);
        border: 1px solid var(--var-69);
        color: var(--var-7);
    }

    &:hover svg {
        fill: #5cb9ff !important;
    }

    &:hover .call_icon {
        opacity: 1;
    }

    .magic_button_and_text {
        display: flex;
        align-items: center;
        align-content: center;
        gap: 6px;

        svg {
            fill: var(--var-89);
            transition: fill 0.3s ease-in-out;
        }
    }

    .call_icon {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        color: var(--var-101);
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background-color: var(--var-11);
    }
}

.magic_button_talkmode_container {
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid transparent;
    width: 100%;
    gap: 6px;
    font: 500 14px / 1.1 var(--font-sohne);
    letter-spacing: normal;
    color: var(--var-108);
    transition: 200ms ease;
    transition-property: border, background, color;
    cursor: pointer;

    &:hover {
        background: var(--var-2);
        border: 1px solid var(--var-69);
        color: var(--var-7);
    }

    &:hover svg {
        fill: #ff8b12 !important;
    }

    &:hover .talkmode_icon {
        opacity: 1;
    }

    .magic_button_and_text {
        display: flex;
        align-items: center;
        align-content: center;
        gap: 6px;

        svg {
            fill: var(--var-89);
            transition: fill 0.3s ease-in-out;
        }
    }

    .talkmode_icon {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        background-color: #ff8b121a;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;

        .talkmode_icon_inner {
            width: 6px;
            height: 6px;
            background-color: #ff8b12;
            border-radius: 50%;
        }
    }
}
