.translationWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.logo {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    border: 1px solid #cbcbcb;
    border-radius: 12px;
    position: absolute;
    left: -60px;
    top: 0;

    path {
        fill: #353930;
    }
}

.translation {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 64px 0;
    background-color: #f8f8f8;
    border-radius: 16px;
    min-height: calc(100vh - 186px);
}

.dictionaryIcon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.translationArea {
    width: 100%;
    height: max-content;
    max-width: 892px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    background-color: #fff;
    border-radius: 16px;
}

.textForTranslateWrapper {
    border: 1px dashed #ffd632;
    border-radius: 12px;
    background-color: #ffffff;
    color: #1f1f1f;
    font-family: Sohne;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.iconsForTranslated {
    display: flex;
    justify-content: space-between;
}

.translateIcon {
    width: 43px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 6px;
}

.textForTranslate {
    display: flex;
    gap: 16px;
}

.record {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid transparent;
    border-radius: 1000px;
    background:
        linear-gradient(to bottom, #fff, #fff) padding-box,
        linear-gradient(to bottom, #9747ff, rgba(#9747ff, 0)) border-box;
}

.text {
    display: inline;
}

.lastSentence {
    color: #898989;
}

.lastSentenceTranslated {
    color: #d2bcff;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 12px;
}

.volumeIcon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 100%;
}

.translatedTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 12px 20px;
    background-color: #f5f0ff;
    border-radius: 12px;
    font-family: Sohne;
    color: #1f1f1f;
}

.bottomText {
    color: #8243ff;
}

.starsIcon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(#1f1f1f, 0.05);
    background: linear-gradient(to bottom, #d7d7d7 0%, #fff 100%);
}
