.port-code-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: var(--var-107);
    background: var(--var-17);
    border-radius: 12px;
    padding: 10px;
    padding-bottom: 50px;

    .text-columns-button-p {
        margin-right: -7px;
    }
    .text-columns-button-span {
        margin-left: 3px;
        margin-right: 3px;
        font-weight: 500;
        font-size: 16px;
    }
    .port-code-option {
        position: relative;
        width: fit-content;
        height: 33px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding-top: 6px;
        padding-right: 8px;
        padding-bottom: 6px;
        padding-left: 6px;
        background: var(--color-red-500-05);
        border: 1px dashed var(--color-red-500);
        color: var(--color-red-500-05);
        .port-code-option-text {
            min-width: 90px;
            max-width: fit-content;
            text-align: center;
        }
    }
    .text-columns-target {
        display: inline-block;
        width: fit-content;
        border-radius: 10px;
        padding: 4px 8px;
        background: var(--var-11);
        color: var(--color-red-500);
    }
}
